In [173]:
import pandas as pd
import numpy as np

# Definir los nombres de las columnas
Variables= ['cod_reg', 'cod_dep', 'cod_loc', 'pad', 'block', 'EP', 'uni', 'sup_predio','sup_edificada', 'V_cat_terreno',
            'V_cat_mejoras',  'V_cat_total', 'V_impuestos', 'Fecha_UDJ', 'Vigencia_UDJ']  

# Especificar los tipos de datos para las columnas
dtypes = {
    'cod_reg': str,
    'cod_dep': str,
    'cod_loc': str,  # O str, dependiendo de tus datos
    'pad': int,
    'block': str,
    'EP': str,
    'uni': int,
    'sup_predio': int,
    'sup_edificada': int,
    'V_cat_terreno': int,
    'V_cat_mejoras': int,
    'V_cat_total': int,
    'V_impuestos': int,
    'Fecha_UDJ': bool,
    'Vigencia_UDJ': bool
}

# Leer el archivo CSV y asignar los nombres a las columnas
P_Urbanos = pd.read_csv('C:/Users/Nico/Desktop/archivos proyecto PYTHON/Padrones Urbanos.csv', sep=',', encoding='cp1252', header=None, names=Variables)

# Mostrar las primeras filas del archivo
P_Urbanos

C:\Users\Nico\AppData\Local\Temp\ipykernel_11836\2073002267.py:28: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  P_Urbanos = pd.read_csv('C:/Users/Nico/Desktop/archivos proyecto PYTHON/Padrones Urbanos.csv', sep=',', encoding='cp1252', header=None, names=Variables)

,cod_reg,cod_dep,cod_loc,pad,block,EP,uni,sup_predio,sup_edificada,V_cat_terreno,V_cat_mejoras,V_cat_total,V_impuestos,Fecha_UDJ,Vigencia_UDJ
0,CO,A,AA,1,NaN,NaN,0,1473,438,396202,1644448,2040650,2040650,/ /,/ /
1,CO,A,AA,2,NaN,NaN,0,246,112,149880,640149,790029,790029,/ /,/ /
2,CO,A,AA,3,NaN,NaN,0,123,99,70630,489035,559665,559665,/ /,/ /
3,CO,A,AA,4,NaN,NaN,0,234,54,132215,220728,352943,352943,/ /,/ /
4,CO,A,AA,6,NaN,NaN,0,505,75,274276,431225,705501,705501,/ /,/ /
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1485857,UH,R,AX,321,B,NaN,19,2000,0,0,0,29666,29666,20/07/2020,20/07/2030
1485858,UH,R,AX,321,B,NaN,20,2000,0,0,0,29666,29666,20/07/2020,20/07/2030
1485859,UH,R,AX,321,B,NaN,21,2500,0,0,0,37084,37084,20/07/2020,20/07/2030
1485860,UH,R,AX,321,C,NaN,22,10003,0,0,0,148378,148378,20/07/2020,20/07/2030
1485861,UH,R,AX,321,C,NaN,23,35138,812,0,0,7147969,7147969,20/07/2020,20/07/2030

In [174]:
# Filtrar filas donde 'cod_dep' es igual a 'V' que es Montevideo
filtro_dep = P_Urbanos[P_Urbanos['cod_dep'] == 'V']

# Mostrar el DataFrame filtrado
filtro_dep

,cod_reg,cod_dep,cod_loc,pad,block,EP,uni,sup_predio,sup_edificada,V_cat_terreno,V_cat_mejoras,V_cat_total,V_impuestos,Fecha_UDJ,Vigencia_UDJ
812667,CO,V,AA,5,NaN,NaN,0,130,138,669500,374348,1043848,1043848,/ /,/ /
812668,CO,V,AA,7,NaN,NaN,0,206,168,873257,319436,1192693,1192693,/ /,/ /
812669,CO,V,AA,8,NaN,NaN,0,175,341,596274,3670770,4267044,4267044,28/11/2018,28/11/2023
812670,CO,V,AA,9,NaN,NaN,0,171,143,583071,543110,1126181,1126181,/ /,/ /
812671,CO,V,AA,14,NaN,NaN,0,196,303,893558,325618,1219176,1219176,/ /,/ /
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1476244,PH,V,AA,432301,NaN,NaN,405,738,34,0,0,1838035,1838035,15/05/2024,15/05/2034
1476245,PH,V,AA,432301,NaN,NaN,406,738,35,0,0,1828063,1828063,15/05/2024,15/05/2034
1476246,PH,V,AA,432301,NaN,NaN,407,738,33,0,0,1768117,1768117,15/05/2024,15/05/2034
1476247,PH,V,AA,432301,NaN,NaN,408,738,33,0,0,1768117,1768117,15/05/2024,15/05/2034
1476248,PH,V,AA,432301,NaN,NaN,409,738,35,0,0,1828063,1828063,15/05/2024,15/05/2034

In [175]:
#CUantas filas tiene el archivo
filtro_dep[[ 'dia','mes','anio']] = filtro_dep['Fecha_UDJ'].str.split('/', expand=True)

filtro_dep

C:\Users\Nico\AppData\Local\Temp\ipykernel_11836\41423360.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtro_dep[[ 'dia','mes','anio']] = filtro_dep['Fecha_UDJ'].str.split('/', expand=True)
C:\Users\Nico\AppData\Local\Temp\ipykernel_11836\41423360.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtro_dep[[ 'dia','mes','anio']] = filtro_dep['Fecha_UDJ'].str.split('/', expand=True)
C:\Users\Nico\AppData\Local\Temp\ipykernel_11836\41423360.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtro_dep[[ 'dia','mes','anio']] = filtro_dep['Fecha_UDJ'].str.split('/', expand=True)

,cod_reg,cod_dep,cod_loc,pad,block,EP,uni,sup_predio,sup_edificada,V_cat_terreno,V_cat_mejoras,V_cat_total,V_impuestos,Fecha_UDJ,Vigencia_UDJ,dia,mes,anio
812667,CO,V,AA,5,NaN,NaN,0,130,138,669500,374348,1043848,1043848,/ /,/ /,,,
812668,CO,V,AA,7,NaN,NaN,0,206,168,873257,319436,1192693,1192693,/ /,/ /,,,
812669,CO,V,AA,8,NaN,NaN,0,175,341,596274,3670770,4267044,4267044,28/11/2018,28/11/2023,28,11,2018
812670,CO,V,AA,9,NaN,NaN,0,171,143,583071,543110,1126181,1126181,/ /,/ /,,,
812671,CO,V,AA,14,NaN,NaN,0,196,303,893558,325618,1219176,1219176,/ /,/ /,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1476244,PH,V,AA,432301,NaN,NaN,405,738,34,0,0,1838035,1838035,15/05/2024,15/05/2034,15,05,2024
1476245,PH,V,AA,432301,NaN,NaN,406,738,35,0,0,1828063,1828063,15/05/2024,15/05/2034,15,05,2024
1476246,PH,V,AA,432301,NaN,NaN,407,738,33,0,0,1768117,1768117,15/05/2024,15/05/2034,15,05,2024
1476247,PH,V,AA,432301,NaN,NaN,408,738,33,0,0,1768117,1768117,15/05/2024,15/05/2034,15,05,2024
1476248,PH,V,AA,432301,NaN,NaN,409,738,35,0,0,1828063,1828063,15/05/2024,15/05/2034,15,05,2024

In [176]:
#CUantas filas tiene el archivo
num_filas = filtro_dep.shape[0]

print(num_filas)

510298

In [177]:
# Ver los tipos de datos de cada columna
tipos_datos = filtro_dep.dtypes

# Mostrar los tipos de datos
print(tipos_datos)

cod_reg          object
cod_dep          object
cod_loc          object
pad               int64
block            object
EP               object
uni               int64
sup_predio        int64
sup_edificada     int64
V_cat_terreno     int64
V_cat_mejoras     int64
V_cat_total       int64
V_impuestos       int64
Fecha_UDJ        object
Vigencia_UDJ     object
dia              object
mes              object
anio             object
dtype: object

In [179]:
# Reemplazar las cadenas vacÃ­as con 0 en las columnas 'dia', 'mes' y 'anio'
columnas_a_reemplazar = ['dia', 'mes', 'anio']
filtro_dep[columnas_a_reemplazar] = filtro_dep[columnas_a_reemplazar].replace('', '0')


filtro_dep

C:\Users\Nico\AppData\Local\Temp\ipykernel_11836\633936480.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtro_dep[columnas_a_reemplazar] = filtro_dep[columnas_a_reemplazar].replace('', '0')

,cod_reg,cod_dep,cod_loc,pad,block,EP,uni,sup_predio,sup_edificada,V_cat_terreno,V_cat_mejoras,V_cat_total,V_impuestos,Fecha_UDJ,Vigencia_UDJ,dia,mes,anio
812667,CO,V,AA,5,NaN,NaN,0,130,138,669500,374348,1043848,1043848,/ /,/ /,0,0,0
812668,CO,V,AA,7,NaN,NaN,0,206,168,873257,319436,1192693,1192693,/ /,/ /,0,0,0
812669,CO,V,AA,8,NaN,NaN,0,175,341,596274,3670770,4267044,4267044,28/11/2018,28/11/2023,28,11,2018
812670,CO,V,AA,9,NaN,NaN,0,171,143,583071,543110,1126181,1126181,/ /,/ /,0,0,0
812671,CO,V,AA,14,NaN,NaN,0,196,303,893558,325618,1219176,1219176,/ /,/ /,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1476244,PH,V,AA,432301,NaN,NaN,405,738,34,0,0,1838035,1838035,15/05/2024,15/05/2034,15,05,2024
1476245,PH,V,AA,432301,NaN,NaN,406,738,35,0,0,1828063,1828063,15/05/2024,15/05/2034,15,05,2024
1476246,PH,V,AA,432301,NaN,NaN,407,738,33,0,0,1768117,1768117,15/05/2024,15/05/2034,15,05,2024
1476247,PH,V,AA,432301,NaN,NaN,408,738,33,0,0,1768117,1768117,15/05/2024,15/05/2034,15,05,2024
1476248,PH,V,AA,432301,NaN,NaN,409,738,35,0,0,1828063,1828063,15/05/2024,15/05/2034,15,05,2024

In [ ]:
# Convertir las columnas a entero
filtro_dep[columnas_a_reemplazar] = filtro_dep[columnas_a_reemplazar].astype(int)

In [143]:
# Ver los tipos de datos de cada columna
tipos_datos = filtro_dep.dtypes

# Mostrar los tipos de datos
print(tipos_datos)

cod_reg          object
cod_dep          object
cod_loc          object
pad               int64
block            object
EP               object
uni               int64
sup_predio        int64
sup_edificada     int64
V_cat_terreno     int64
V_cat_mejoras     int64
V_cat_total       int64
V_impuestos       int64
Fecha_UDJ        object
Vigencia_UDJ     object
dia              object
mes              object
anio             object
dtype: object

In [65]:
# Leer el archivo CSV y asignar los nombres a las columnas
Permisos = pd.read_csv('C:/Users/Nico/Desktop/archivos proyecto PYTHON/permisos_construccion.csv', sep=';')

Permisos.rename(columns={'padron': 'pad'}, inplace=True)
# Mostrar las primeras filas del archivo
Permisos

,pad,destino,area,calle,puerta,letra,anio,mes,expediente,tipo_obra
0,2,Vivienda ...,26.00,MIGUELETE ...,1420.0,,2000,9,4113-016778-00,Obra Nueva
1,8,Comercio ...,315.00,LA PAZ ...,1439.0,,2013,7,4113-007575-13,Obra Nueva
2,8,Comercio ...,5.00,LA PAZ ...,1439.0,,2019,3,2018-4113-98-001306,Regularizacion - AÃ±o
3,9,Vivienda ...,14.84,LA PAZ ...,1431.0,,1998,12,4113-016126-98,Reforma
4,15,Vivienda ...,49.85,PIEDRA ALTA ...,1779.0,,2004,3,4113-014456-00,Modificacion en Obra
...,...,...,...,...,...,...,...,...,...,...
39423,436935,Vivienda ...,46.40,...,NaN,,1999,3,4113-022067-98,Desconocido
39424,436935,Vivienda ...,54.70,...,NaN,,1999,3,4113-022067-98,Regularizacion - AÃ±o
39425,952223,Vivienda ...,8.76,...,NaN,,2011,2,4113-000547-11,Obra Nueva
39426,952223,Vivienda ...,5.24,...,NaN,,2011,2,4113-000547-11,Reforma
39427,952223,Vivienda ...,215.00,...,NaN,,2011,2,4113-000547-11,Regularizacion - AÃ±o

In [59]:
# Ver los tipos de datos de cada columna
tipos_datos = Permisos.dtypes

# Mostrar los tipos de datos
print(tipos_datos)

pad             int64
destino        object
area          float64
calle          object
puerta        float64
letra          object
anio            int64
mes             int64
expediente     object
tipo_obra      object
cod_dep        object
dtype: object

In [28]:
#Crear en permisos la variable cod_dep
Permisos['cod_dep'] = 'V'
Permisos

,pad,destino,area,calle,puerta,letra,anio,mes,expediente,tipo_obra,cod_dep
0,2,Vivienda ...,26.00,MIGUELETE ...,1420.0,,2000,9,4113-016778-00,Obra Nueva,V
1,8,Comercio ...,315.00,LA PAZ ...,1439.0,,2013,7,4113-007575-13,Obra Nueva,V
2,8,Comercio ...,5.00,LA PAZ ...,1439.0,,2019,3,2018-4113-98-001306,Regularizacion - AÃ±o,V
3,9,Vivienda ...,14.84,LA PAZ ...,1431.0,,1998,12,4113-016126-98,Reforma,V
4,15,Vivienda ...,49.85,PIEDRA ALTA ...,1779.0,,2004,3,4113-014456-00,Modificacion en Obra,V
...,...,...,...,...,...,...,...,...,...,...,...
39423,436935,Vivienda ...,46.40,...,NaN,,1999,3,4113-022067-98,Desconocido,V
39424,436935,Vivienda ...,54.70,...,NaN,,1999,3,4113-022067-98,Regularizacion - AÃ±o,V
39425,952223,Vivienda ...,8.76,...,NaN,,2011,2,4113-000547-11,Obra Nueva,V
39426,952223,Vivienda ...,5.24,...,NaN,,2011,2,4113-000547-11,Reforma,V
39427,952223,Vivienda ...,215.00,...,NaN,,2011,2,4113-000547-11,Regularizacion - AÃ±o,V

In [30]:
# Guardar el DataFrame macheado como CSV
#filtro_per.to_csv('C:/Users/Nico/Desktop/archivos proyecto PYTHON/Permisos_2022a2024.csv', index=False)

In [136]:
# Machear los DataFrames usando un left join
cat_per = pd.merge(filtro_dep, Permisos, on=['anio','mes','pad'], how='left')


# Mostrar el DataFrame resultante
print(cat_per)

#Guardar el archivo macheado
cat_per.to_csv('C:/Users/Nico/Desktop/Archivos para proyecto Python/cat_per.csv', index=False)

ValueError: You are trying to merge on object and int64 columns for key 'anio'. If you wish to proceed you should use pd.concat

In [38]:
# por cada padron puede haber mÃ s de un permiso, por ello para este anÃ lisis elimino duplicados
df_sin_duplicados = cat_per.drop_duplicates(subset=['anio', 'mes', 'pad'])

#Montevideo tiene 510298 padrones urbanos 
#Para saber por aÃ±o cuantos padrones urbanos tuvieron permisos en un aÃ±o

resultado = df_sin_duplicados.groupby(['anio','mes'])['destino'].count().reset_index(name='conteo_destino')

# Mostrar el resultado
print(resultado)

       anio   mes  conteo_destino
0    1997.0  11.0               1
1    1997.0  12.0              18
2    1998.0   1.0              22
3    1998.0   2.0              42
4    1998.0   3.0              39
..      ...   ...             ...
315  2024.0   3.0              43
316  2024.0   4.0              59
317  2024.0   5.0              43
318  2024.0   6.0              25
319  2024.0   7.0              41

[320 rows x 3 columns]

In [23]:
# Guardar el DataFrame macheado como CSV
cat_per.to_csv('C:/Users/Nico/Desktop/archivos proyecto PYTHON/cat_per.csv', index=False)