In [104]:
import pandas as pd
import numpy as np

# Definir los nombres de las columnas
Variables= ['cod_reg', 'cod_dep', 'cod_loc', 'pad', 'block', 'EP', 'uni', 'sup_predio','sup_edificada', 'V_cat_terreno',
            'V_cat_mejoras',  'V_cat_total', 'V_impuestos', 'Fecha_UDJ', 'Vigencia_UDJ']  

# Especificar los tipos de datos para las columnas
dtypes = {
    'cod_reg': str,
    'cod_dep': str,
    'cod_loc': str,  # O str, dependiendo de tus datos
    'pad': int,
    'block': str,
    'EP': str,
    'uni': int,
    'sup_predio': int,
    'sup_edificada': int,
    'V_cat_terreno': int,
    'V_cat_mejoras': int,
    'V_cat_total': int,
    'V_impuestos': int,
    'Fecha_UDJ': bool,
    'Vigencia_UDJ': bool
}

# Leer el archivo CSV y asignar los nombres a las columnas
P_Urbanos = pd.read_csv('C:/Users/Nico/Desktop/archivos proyecto PYTHON/Padrones Urbanos.csv', sep=',', encoding='cp1252', header=None, names=Variables)

# Mostrar las primeras filas del archivo
P_Urbanos

C:\Users\Nico\AppData\Local\Temp\ipykernel_1860\2073002267.py:28: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  P_Urbanos = pd.read_csv('C:/Users/Nico/Desktop/archivos proyecto PYTHON/Padrones Urbanos.csv', sep=',', encoding='cp1252', header=None, names=Variables)

,cod_reg,cod_dep,cod_loc,pad,block,EP,uni,sup_predio,sup_edificada,V_cat_terreno,V_cat_mejoras,V_cat_total,V_impuestos,Fecha_UDJ,Vigencia_UDJ
0,CO,A,AA,1,NaN,NaN,0,1473,438,396202,1644448,2040650,2040650,/ /,/ /
1,CO,A,AA,2,NaN,NaN,0,246,112,149880,640149,790029,790029,/ /,/ /
2,CO,A,AA,3,NaN,NaN,0,123,99,70630,489035,559665,559665,/ /,/ /
3,CO,A,AA,4,NaN,NaN,0,234,54,132215,220728,352943,352943,/ /,/ /
4,CO,A,AA,6,NaN,NaN,0,505,75,274276,431225,705501,705501,/ /,/ /
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1485857,UH,R,AX,321,B,NaN,19,2000,0,0,0,29666,29666,20/07/2020,20/07/2030
1485858,UH,R,AX,321,B,NaN,20,2000,0,0,0,29666,29666,20/07/2020,20/07/2030
1485859,UH,R,AX,321,B,NaN,21,2500,0,0,0,37084,37084,20/07/2020,20/07/2030
1485860,UH,R,AX,321,C,NaN,22,10003,0,0,0,148378,148378,20/07/2020,20/07/2030
1485861,UH,R,AX,321,C,NaN,23,35138,812,0,0,7147969,7147969,20/07/2020,20/07/2030

In [105]:
# Filtrar filas donde 'cod_dep' es igual a 'V' que es Montevideo
filtro_dep = P_Urbanos[P_Urbanos['cod_dep'] == 'V']

# Mostrar el DataFrame filtrado
filtro_dep

,cod_reg,cod_dep,cod_loc,pad,block,EP,uni,sup_predio,sup_edificada,V_cat_terreno,V_cat_mejoras,V_cat_total,V_impuestos,Fecha_UDJ,Vigencia_UDJ
812667,CO,V,AA,5,NaN,NaN,0,130,138,669500,374348,1043848,1043848,/ /,/ /
812668,CO,V,AA,7,NaN,NaN,0,206,168,873257,319436,1192693,1192693,/ /,/ /
812669,CO,V,AA,8,NaN,NaN,0,175,341,596274,3670770,4267044,4267044,28/11/2018,28/11/2023
812670,CO,V,AA,9,NaN,NaN,0,171,143,583071,543110,1126181,1126181,/ /,/ /
812671,CO,V,AA,14,NaN,NaN,0,196,303,893558,325618,1219176,1219176,/ /,/ /
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1476244,PH,V,AA,432301,NaN,NaN,405,738,34,0,0,1838035,1838035,15/05/2024,15/05/2034
1476245,PH,V,AA,432301,NaN,NaN,406,738,35,0,0,1828063,1828063,15/05/2024,15/05/2034
1476246,PH,V,AA,432301,NaN,NaN,407,738,33,0,0,1768117,1768117,15/05/2024,15/05/2034
1476247,PH,V,AA,432301,NaN,NaN,408,738,33,0,0,1768117,1768117,15/05/2024,15/05/2034
1476248,PH,V,AA,432301,NaN,NaN,409,738,35,0,0,1828063,1828063,15/05/2024,15/05/2034

In [106]:
#CUantas filas tiene el archivo
num_filas = filtro_dep.shape[0]

print(num_filas)

510298

In [107]:
# Reemplazar cadenas vacÃ­as o '/  /' por NaN
filtro_dep['Fecha_UDJ'] = filtro_dep['Fecha_UDJ'].replace(['', '/  /'], pd.NA)

# Separar la columna 'Fecha' en tres nuevas columnas, manejando valores NaN
filtro_dep[['dia', 'mes', 'anio']] = filtro_dep['Fecha_UDJ'].str.split('/', expand=True)

# Convertir las nuevas columnas a tipo entero, usando fillna para evitar errores
filtro_dep['dia'] = filtro_dep['dia'].astype('Int64')  # 'Int64' permite valores NA
filtro_dep['mes'] = filtro_dep['mes'].astype('Int64')
filtro_dep['anio'] = filtro_dep['anio'].astype('Int64')

# Mostrar el DataFrame resultante
filtro_dep

C:\Users\Nico\AppData\Local\Temp\ipykernel_1860\3291942926.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtro_dep['Fecha_UDJ'] = filtro_dep['Fecha_UDJ'].replace(['', '/  /'], pd.NA)
C:\Users\Nico\AppData\Local\Temp\ipykernel_1860\3291942926.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtro_dep[['dia', 'mes', 'anio']] = filtro_dep['Fecha_UDJ'].str.split('/', expand=True)
C:\Users\Nico\AppData\Local\Temp\ipykernel_1860\3291942926.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtro_dep[['dia', 'mes', 'anio']] = filtro_dep['Fecha_UDJ'].str.split('/', expand=True)
C:\Users\Nico\AppData\Local\Temp\ipykernel_1860\3291942926.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtro_dep[['dia', 'mes', 'anio']] = filtro_dep['Fecha_UDJ'].str.split('/', expand=True)
C:\Users\Nico\AppData\Local\Temp\ipykernel_1860\3291942926.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtro_dep['dia'] = filtro_dep['dia'].astype('Int64')  # 'Int64' permite valores NA
C:\Users\Nico\AppData\Local\Temp\ipykernel_1860\3291942926.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtro_dep['mes'] = filtro_dep['mes'].astype('Int64')
C:\Users\Nico\AppData\Local\Temp\ipykernel_1860\3291942926.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtro_dep['anio'] = filtro_dep['anio'].astype('Int64')

,cod_reg,cod_dep,cod_loc,pad,block,EP,uni,sup_predio,sup_edificada,V_cat_terreno,V_cat_mejoras,V_cat_total,V_impuestos,Fecha_UDJ,Vigencia_UDJ,dia,mes,anio
812667,CO,V,AA,5,NaN,NaN,0,130,138,669500,374348,1043848,1043848,<NA>,/ /,<NA>,<NA>,<NA>
812668,CO,V,AA,7,NaN,NaN,0,206,168,873257,319436,1192693,1192693,<NA>,/ /,<NA>,<NA>,<NA>
812669,CO,V,AA,8,NaN,NaN,0,175,341,596274,3670770,4267044,4267044,28/11/2018,28/11/2023,28,11,2018
812670,CO,V,AA,9,NaN,NaN,0,171,143,583071,543110,1126181,1126181,<NA>,/ /,<NA>,<NA>,<NA>
812671,CO,V,AA,14,NaN,NaN,0,196,303,893558,325618,1219176,1219176,<NA>,/ /,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1476244,PH,V,AA,432301,NaN,NaN,405,738,34,0,0,1838035,1838035,15/05/2024,15/05/2034,15,5,2024
1476245,PH,V,AA,432301,NaN,NaN,406,738,35,0,0,1828063,1828063,15/05/2024,15/05/2034,15,5,2024
1476246,PH,V,AA,432301,NaN,NaN,407,738,33,0,0,1768117,1768117,15/05/2024,15/05/2034,15,5,2024
1476247,PH,V,AA,432301,NaN,NaN,408,738,33,0,0,1768117,1768117,15/05/2024,15/05/2034,15,5,2024
1476248,PH,V,AA,432301,NaN,NaN,409,738,35,0,0,1828063,1828063,15/05/2024,15/05/2034,15,5,2024

In [108]:
# Ver los tipos de datos de cada columna
tipos_datos = filtro_dep.dtypes

# Mostrar los tipos de datos
print(tipos_datos)

cod_reg          object
cod_dep          object
cod_loc          object
pad               int64
block            object
EP               object
uni               int64
sup_predio        int64
sup_edificada     int64
V_cat_terreno     int64
V_cat_mejoras     int64
V_cat_total       int64
V_impuestos       int64
Fecha_UDJ        object
Vigencia_UDJ     object
dia               Int64
mes               Int64
anio              Int64
dtype: object

In [109]:
#Permisos Intendencia Montevideo
# Leer el archivo CSV y asignar los nombres a las columnas
Permisos = pd.read_csv('C:/Users/Nico/Desktop/archivos proyecto PYTHON/permisos_construccion.csv', sep=';')

Permisos.rename(columns={'padron': 'pad'}, inplace=True)
# Mostrar las primeras filas del archivo
Permisos

,pad,destino,area,calle,puerta,letra,anio,mes,expediente,tipo_obra
0,2,Vivienda ...,26.00,MIGUELETE ...,1420.0,,2000,9,4113-016778-00,Obra Nueva
1,8,Comercio ...,315.00,LA PAZ ...,1439.0,,2013,7,4113-007575-13,Obra Nueva
2,8,Comercio ...,5.00,LA PAZ ...,1439.0,,2019,3,2018-4113-98-001306,Regularizacion - AÃ±o
3,9,Vivienda ...,14.84,LA PAZ ...,1431.0,,1998,12,4113-016126-98,Reforma
4,15,Vivienda ...,49.85,PIEDRA ALTA ...,1779.0,,2004,3,4113-014456-00,Modificacion en Obra
...,...,...,...,...,...,...,...,...,...,...
39423,436935,Vivienda ...,46.40,...,NaN,,1999,3,4113-022067-98,Desconocido
39424,436935,Vivienda ...,54.70,...,NaN,,1999,3,4113-022067-98,Regularizacion - AÃ±o
39425,952223,Vivienda ...,8.76,...,NaN,,2011,2,4113-000547-11,Obra Nueva
39426,952223,Vivienda ...,5.24,...,NaN,,2011,2,4113-000547-11,Reforma
39427,952223,Vivienda ...,215.00,...,NaN,,2011,2,4113-000547-11,Regularizacion - AÃ±o

In [110]:
# Ver los tipos de datos de cada columna
tipos_datos = Permisos.dtypes

# Mostrar los tipos de datos
print(tipos_datos)

pad             int64
destino        object
area          float64
calle          object
puerta        float64
letra          object
anio            int64
mes             int64
expediente     object
tipo_obra      object
dtype: object

In [111]:
#Crear en permisos la variable cod_dep
Permisos['cod_dep'] = 'V'
Permisos

,pad,destino,area,calle,puerta,letra,anio,mes,expediente,tipo_obra,cod_dep
0,2,Vivienda ...,26.00,MIGUELETE ...,1420.0,,2000,9,4113-016778-00,Obra Nueva,V
1,8,Comercio ...,315.00,LA PAZ ...,1439.0,,2013,7,4113-007575-13,Obra Nueva,V
2,8,Comercio ...,5.00,LA PAZ ...,1439.0,,2019,3,2018-4113-98-001306,Regularizacion - AÃ±o,V
3,9,Vivienda ...,14.84,LA PAZ ...,1431.0,,1998,12,4113-016126-98,Reforma,V
4,15,Vivienda ...,49.85,PIEDRA ALTA ...,1779.0,,2004,3,4113-014456-00,Modificacion en Obra,V
...,...,...,...,...,...,...,...,...,...,...,...
39423,436935,Vivienda ...,46.40,...,NaN,,1999,3,4113-022067-98,Desconocido,V
39424,436935,Vivienda ...,54.70,...,NaN,,1999,3,4113-022067-98,Regularizacion - AÃ±o,V
39425,952223,Vivienda ...,8.76,...,NaN,,2011,2,4113-000547-11,Obra Nueva,V
39426,952223,Vivienda ...,5.24,...,NaN,,2011,2,4113-000547-11,Reforma,V
39427,952223,Vivienda ...,215.00,...,NaN,,2011,2,4113-000547-11,Regularizacion - AÃ±o,V

In [112]:
# Supongamos que 'resultado' es tu DataFrame que contiene los conteos
# Calcular la suma total de 'conteo_destino'
conteo_pad = Permisos['pad'].count()

# Mostrar la suma total
print(f"Suma total de conteo_pad: {conteo_pad}")

Suma total de conteo_pad: 39428

In [113]:
#CUantas filas tiene el archivo
num_filas = Permisos.shape[0]

print(Permisos)

          pad                                            destino    area  \
0           2  Vivienda                                      ...   26.00
1           8  Comercio                                      ...  315.00
2           8  Comercio                                      ...    5.00
3           9  Vivienda                                      ...   14.84
4          15  Vivienda                                      ...   49.85
...       ...                                                ...     ...
39423  436935  Vivienda                                      ...   46.40
39424  436935  Vivienda                                      ...   54.70
39425  952223  Vivienda                                      ...    8.76
39426  952223  Vivienda                                      ...    5.24
39427  952223  Vivienda                                      ...  215.00

                                                   calle  puerta  letra  anio  \
0      MIGUELETE                                     ...  1420.0         2000
1      LA PAZ                                        ...  1439.0         2013
2      LA PAZ                                        ...  1439.0         2019
3      LA PAZ                                        ...  1431.0         1998
4      PIEDRA ALTA                                   ...  1779.0         2004
...                                                  ...     ...    ...   ...
39423                                                ...     NaN         1999
39424                                                ...     NaN         1999
39425                                                ...     NaN         2011
39426                                                ...     NaN         2011
39427                                                ...     NaN         2011

       mes           expediente             tipo_obra cod_dep
0        9       4113-016778-00            Obra Nueva       V
1        7       4113-007575-13            Obra Nueva       V
2        3  2018-4113-98-001306  Regularizacion - AÃ±o       V
3       12       4113-016126-98               Reforma       V
4        3       4113-014456-00  Modificacion en Obra       V
...    ...                  ...                   ...     ...
39423    3       4113-022067-98           Desconocido       V
39424    3       4113-022067-98  Regularizacion - AÃ±o       V
39425    2       4113-000547-11            Obra Nueva       V
39426    2       4113-000547-11               Reforma       V
39427    2       4113-000547-11  Regularizacion - AÃ±o       V

[39428 rows x 11 columns]

In [114]:
# Ordenar el DataFrame por anio, mes, padron y area en orden descendente
Permisos_ordenado = Permisos.sort_values(by=['anio', 'mes', 'pad', 'area'], ascending=[True, True, True, False])

# Mostrar el DataFrame ordenado
print(Permisos_ordenado)

          pad                                            destino     area  \
34553  408102  Vivienda                                      ...    36.63
3287    14796  Vivienda                                      ...    34.57
3288    14796  Vivienda                                      ...    34.57
3286    14796  Vivienda                                      ...    15.00
8607    32830  Vivienda                                      ...   250.91
...       ...                                                ...      ...
39113  430986  Desconocido                                   ...  1363.00
39114  430986  Desconocido                                   ...   329.00
39382  431976  Desconocido                                   ...   617.00
39410  432129  Desconocido                                   ...  3642.60
39411  432129  Desconocido                                   ...  3642.60

                                                   calle  puerta  letra  anio  \
34553  SDA DE PASO                                   ...  4455.0         1997
3287   CHILE                                         ...  3532.0         1997
3288   CHILE                                         ...  3532.0         1997
3286   CHILE                                         ...  3532.0         1997
8607   CARDAL                                        ...  3325.0         1997
...                                                  ...     ...    ...   ...
39113  DR ENRIQUE POUEY                              ...  2528.0         2024
39114  DR ENRIQUE POUEY                              ...  2528.0         2024
39382  AV COSTANERA (8754)                           ...  7198.0         2024
39410  JOSE ENRIQUE RODO                             ...  1809.0         2024
39411  JOSE ENRIQUE RODO                             ...  1809.0         2024

       mes           expediente                tipo_obra cod_dep
34553   11  2019-4113-98-000267     Regularizacion - AÃ±o       V
3287    12       4113-005194-97                  Reforma       V
3288    12       4113-005194-97     Regularizacion - AÃ±o       V
3286    12       4113-005194-97              Desconocido       V
8607    12       4113-004075-97               Obra Nueva       V
...    ...                  ...                      ...     ...
39113    7       GERPC-7-856316               Autorizada       V
39114    7       GERPC-7-856316                  Reforma       V
39382    7       GERPC-7-773205  Obra nueva / ampliaciÃ³n       V
39410    7       GERPC-7-883489               Autorizada       V
39411    7       GERPC-7-883489  Obra nueva / ampliaciÃ³n       V

[39428 rows x 11 columns]

In [115]:
#En el cÃ²digo anterior ordenamos descendente por area, ya que nos vamos a quedar con el tipo de obra que tenga la mayor superficie.
# Primero, eliminamos duplicados por que hay duplicados, porque se pueden pedir varios permisos en la misma fecha como demolicion, obra nueva y incorporaciÃ²na PH.


df_sin_duplicados = Permisos_ordenado.drop_duplicates(subset=['anio', 'mes', 'pad'])

# Contar cuÃ¡ntos registros hay por 'anio' y 'mes'
resultado = df_sin_duplicados.groupby(['anio', 'mes']).size().reset_index(name ='conteo_destino')


# Mostrar el resultado
print(resultado)

     anio  mes  conteo_destino
0    1997   11               1
1    1997   12              18
2    1998    1              23
3    1998    2              47
4    1998    3              42
..    ...  ...             ...
315  2024    3              44
316  2024    4              61
317  2024    5              44
318  2024    6              25
319  2024    7              42

[320 rows x 3 columns]

In [116]:
# Supongamos que 'resultado' es tu DataFrame que contiene los conteos
# Calcular la suma total de 'conteo_destino'
suma_conteo_destino = resultado['conteo_destino'].sum()

# Mostrar la suma total
print(f"Suma total de conteo_destino: {suma_conteo_destino}")

Suma total de conteo_destino: 26632

In [117]:
# Machear los DataFrames usando un left join
cat_per = pd.merge(filtro_dep, Permisos, on=['anio','mes','pad'], how='left')


# Mostrar el DataFrame resultante
print(cat_per)

       cod_reg cod_dep_x cod_loc     pad block   EP  uni  sup_predio  \
0           CO         V      AA       5   NaN  NaN    0         130
1           CO         V      AA       7   NaN  NaN    0         206
2           CO         V      AA       8   NaN  NaN    0         175
3           CO         V      AA       9   NaN  NaN    0         171
4           CO         V      AA      14   NaN  NaN    0         196
...        ...       ...     ...     ...   ...  ...  ...         ...
511774      PH         V      AA  432301   NaN  NaN  405         738
511775      PH         V      AA  432301   NaN  NaN  406         738
511776      PH         V      AA  432301   NaN  NaN  407         738
511777      PH         V      AA  432301   NaN  NaN  408         738
511778      PH         V      AA  432301   NaN  NaN  409         738

        sup_edificada  V_cat_terreno  ...   mes  anio  destino area calle  \
0                 138         669500  ...  <NA>  <NA>      NaN  NaN   NaN
1                 168         873257  ...  <NA>  <NA>      NaN  NaN   NaN
2                 341         596274  ...    11  2018      NaN  NaN   NaN
3                 143         583071  ...  <NA>  <NA>      NaN  NaN   NaN
4                 303         893558  ...  <NA>  <NA>      NaN  NaN   NaN
...               ...            ...  ...   ...   ...      ...  ...   ...
511774             34              0  ...     5  2024      NaN  NaN   NaN
511775             35              0  ...     5  2024      NaN  NaN   NaN
511776             33              0  ...     5  2024      NaN  NaN   NaN
511777             33              0  ...     5  2024      NaN  NaN   NaN
511778             35              0  ...     5  2024      NaN  NaN   NaN

        puerta  letra  expediente tipo_obra  cod_dep_y
0          NaN    NaN         NaN       NaN        NaN
1          NaN    NaN         NaN       NaN        NaN
2          NaN    NaN         NaN       NaN        NaN
3          NaN    NaN         NaN       NaN        NaN
4          NaN    NaN         NaN       NaN        NaN
...        ...    ...         ...       ...        ...
511774     NaN    NaN         NaN       NaN        NaN
511775     NaN    NaN         NaN       NaN        NaN
511776     NaN    NaN         NaN       NaN        NaN
511777     NaN    NaN         NaN       NaN        NaN
511778     NaN    NaN         NaN       NaN        NaN

[511779 rows x 26 columns]

In [86]:
# Guardar el DataFrame macheado como CSV
cat_per.to_csv('C:/Users/Nico/Desktop/archivos proyecto PYTHON/cat_per.csv', index=False)