In [2]:
import pandas as pd
import numpy as np
import streamlit as st
import matplotlib.pyplot as plt
import seaborn as sns
import altair as alt
import plotly.express as px
import geopandas as gpd
import contextily as ctx


# Definir los nombres de las columnas
Variables= ['cod_reg', 'cod_dep', 'cod_loc', 'pad', 'block', 'EP', 'uni', 'sup_predio','sup_edificada', 'V_cat_terreno',
            'V_cat_mejoras',  'V_cat_total', 'V_impuestos', 'Fecha_UDJ', 'Vigencia_UDJ']  

# Especificar los tipos de datos para las columnas
dtypes = {
    'cod_reg': str,
    'cod_dep': str,
    'cod_loc': str,  # O str, dependiendo de tus datos
    'pad': int,
    'block': str,
    'EP': str,
    'uni': int,
    'sup_predio': int,
    'sup_edificada': int,
    'V_cat_terreno': int,
    'V_cat_mejoras': int,
    'V_cat_total': int,
    'V_impuestos': int,
    'Fecha_UDJ': bool,
    'Vigencia_UDJ': bool
}

# Leer el archivo CSV y asignar los nombres a las columnas
P_Urbanos = pd.read_csv('C:/Users/vfernand/Desktop/archivos proyecto PYTHON/DatosAbiertosDNC(2024-09)/Padrones Urbanos.csv',
sep=',', encoding='cp1252', header=None, names=Variables, dtype={4: str, 5: str}  )

# Mostrar las primeras filas del archivo
P_Urbanos.head(8)

,cod_reg,cod_dep,cod_loc,pad,block,EP,uni,sup_predio,sup_edificada,V_cat_terreno,V_cat_mejoras,V_cat_total,V_impuestos,Fecha_UDJ,Vigencia_UDJ
0,CO,A,AA,1,NaN,NaN,0,1473,438,396202,1644448,2040650,2040650,/ /,/ /
1,CO,A,AA,2,NaN,NaN,0,246,112,149880,640149,790029,790029,/ /,/ /
2,CO,A,AA,3,NaN,NaN,0,123,99,70630,489035,559665,559665,/ /,/ /
3,CO,A,AA,4,NaN,NaN,0,234,54,132215,220728,352943,352943,/ /,/ /
4,CO,A,AA,6,NaN,NaN,0,505,75,274276,431225,705501,705501,/ /,/ /
5,CO,A,AA,10,NaN,NaN,0,462,283,303908,1339819,1643727,1643727,/ /,/ /
6,CO,A,AA,11,NaN,NaN,0,440,139,290376,584098,874474,874474,/ /,/ /
7,CO,A,AA,12,NaN,NaN,0,470,152,308792,454518,763310,763310,/ /,/ /

In [3]:
# Filtrar filas donde 'cod_dep' es igual a 'V' que es Montevideo
filtro_dep = P_Urbanos[P_Urbanos['cod_dep'] == 'V']

# Mostrar el DataFrame filtrado
filtro_dep.head()

# Eliminar los apartamentos duplicados y quedarte solo con un registro por padrón
filtro_dep = filtro_dep.drop_duplicates(subset='pad').reset_index(drop=True)

# Reemplazar cadenas vacías o '/  /' por NaN
filtro_dep['Fecha_UDJ'] = filtro_dep['Fecha_UDJ'].replace(['', '/  /'], pd.NA)

# Separar la columna 'Fecha' en tres nuevas columnas, manejando valores NaN
filtro_dep[['dia', 'mes', 'anio']] = filtro_dep['Fecha_UDJ'].str.split('/', expand=True)

# Convertir las nuevas columnas a tipo entero, usando fillna para evitar errores
filtro_dep['dia'] = filtro_dep['dia'].astype('Int64')  # 'Int64' permite valores NA
filtro_dep['mes'] = filtro_dep['mes'].astype('Int64')
filtro_dep['anio'] = filtro_dep['anio'].astype('Int64')

# Mostrar el DataFrame resultante
filtro_dep.head()

,cod_reg,cod_dep,cod_loc,pad,block,EP,uni,sup_predio,sup_edificada,V_cat_terreno,V_cat_mejoras,V_cat_total,V_impuestos,Fecha_UDJ,Vigencia_UDJ,dia,mes,anio
0,CO,V,AA,5,NaN,NaN,0,130,138,669500,374348,1043848,1043848,<NA>,/ /,<NA>,<NA>,<NA>
1,CO,V,AA,7,NaN,NaN,0,206,168,873257,319436,1192693,1192693,<NA>,/ /,<NA>,<NA>,<NA>
2,CO,V,AA,8,NaN,NaN,0,175,341,596274,3670770,4267044,4267044,28/11/2018,28/11/2023,28,11,2018
3,CO,V,AA,9,NaN,NaN,0,171,143,583071,543110,1126181,1126181,<NA>,/ /,<NA>,<NA>,<NA>
4,CO,V,AA,14,NaN,NaN,0,196,303,893558,325618,1219176,1219176,<NA>,/ /,<NA>,<NA>,<NA>

In [16]:
filtro_dep = filtro_dep[filtro_dep['anio'] >= 1997]

resultado_Cat_Per=filtro_dep.groupby(['anio']).size().reset_index(name ='Cantidad')

resultado_Cat_Per

    anio  Cantidad
0   1997         1
1   2001         5
2   2002       279
3   2003       862
4   2004      1680
5   2005      1416
6   2006      1457
7   2007      1780
8   2008      2319
9   2009      2081
10  2010      2644
11  2011      3130
12  2012      2484
13  2013      2786
14  2014      2606
15  2015      2578
16  2016      2615
17  2017      3189
18  2018      2834
19  2019      2915
20  2020      2695
21  2021      3260
22  2022      6510
23  2023      6699
24  2024      4456

In [17]:
Dic_Cat = pd.read_csv('C:/Users/vfernand/Desktop/archivos proyecto PYTHON/Diccionario variables catastro.csv', sep=';', encoding='latin1')

In [18]:
# %%
#Permisos Intendencia Montevideo
# Leer el archivo CSV y asignar los nombres a las columnas
#Permisos Intendencia Montevideo
# Leer el archivo CSV y asignar los nombres a las columnas
Permisos = pd.read_csv('C:/Users/vfernand/Desktop/archivos proyecto PYTHON/permisos_construccion.csv', sep=';')
Dic_Per = pd.read_csv('C:/Users/vfernand/Desktop/archivos proyecto PYTHON/Diccionario variables permisos.csv', sep=';', encoding='latin1')

Permisos.rename(columns={'padron': 'pad'}, inplace=True)
# Mostrar las primeras filas del archivo
Permisos.head()

,pad,destino,area,calle,puerta,letra,anio,mes,expediente,tipo_obra
0,2,Vivienda ...,26.00,MIGUELETE ...,1420.0,,2000,9,4113-016778-00,Obra Nueva
1,8,Comercio ...,315.00,LA PAZ ...,1439.0,,2013,7,4113-007575-13,Obra Nueva
2,8,Comercio ...,5.00,LA PAZ ...,1439.0,,2019,3,2018-4113-98-001306,Regularizacion - Año
3,9,Vivienda ...,14.84,LA PAZ ...,1431.0,,1998,12,4113-016126-98,Reforma
4,15,Vivienda ...,49.85,PIEDRA ALTA ...,1779.0,,2004,3,4113-014456-00,Modificacion en Obra

In [19]:
# Ver los tipos de datos de cada columna
tipos_datos = Permisos.dtypes

# Mostrar los tipos de datos
print(tipos_datos)

pad             int64
destino        object
area          float64
calle          object
puerta        float64
letra          object
anio            int64
mes             int64
expediente     object
tipo_obra      object
dtype: object

In [20]:
#Crear en permisos la variable cod_dep
Permisos['cod_dep'] = 'V'

# Ordenar el DataFrame por Padron (ascendente), anio, mes, area en orden descendente me quedo con el ùltimo permiso aprobado para ese padron y el area màs grande de esa fecha.
Permisos_ordenado = Permisos.sort_values(by=['pad','anio', 'mes', 'area'], ascending=[True,False, False, False])

# Mostrar el DataFrame ordenado
Permisos_ordenado.head(15)

,pad,destino,area,calle,puerta,letra,anio,mes,expediente,tipo_obra,cod_dep
0,2,Vivienda ...,26.00,MIGUELETE ...,1420.0,,2000,9,4113-016778-00,Obra Nueva,V
2,8,Comercio ...,5.00,LA PAZ ...,1439.0,,2019,3,2018-4113-98-001306,Regularizacion - Año,V
1,8,Comercio ...,315.00,LA PAZ ...,1439.0,,2013,7,4113-007575-13,Obra Nueva,V
3,9,Vivienda ...,14.84,LA PAZ ...,1431.0,,1998,12,4113-016126-98,Reforma,V
4,15,Vivienda ...,49.85,PIEDRA ALTA ...,1779.0,,2004,3,4113-014456-00,Modificacion en Obra,V
6,27,Comercio ...,284.00,LA PAZ ...,1461.0,,2021,9,2021-4113-98-000660,Reforma a Regularizar,V
5,27,Comercio ...,320.00,LA PAZ ...,1461.0,,2014,9,2016-4118-98-000212,Obra Nueva,V
8,32,Comercio ...,353.00,PIEDRA ALTA ...,1771.0,,2008,4,2016-4113-98-001655,Regularizacion - Año,V
7,32,Comercio ...,36.00,PIEDRA ALTA ...,1771.0,,2008,4,2016-4113-98-001655,Obra Nueva,V
9,43,"Vivienda,Comercio,Otros ...",147.00,MINAS ...,1803.0,,2022,11,2022-4113-98-001048,Incorporacion A.P.H.,V
10,43,"Vivienda,Comercio,Otros ...",59.00,MINAS ...,1803.0,,2022,11,2022-4113-98-001048,Reforma,V
11,43,"Vivienda,Comercio,Otros ...",33.00,MINAS ...,1803.0,,2022,11,2022-4113-98-001048,Reforma a Regularizar,V
12,52,Vivienda ...,50.00,LA PAZ ...,1577.0,,2005,2,4113-000339-05,Reforma,V
13,53,Comercio ...,388.00,LA PAZ ...,1581.0,,2019,4,2018-4113-98-001100,Reforma,V
14,63,Vivienda ...,146.21,MIGUELETE ...,1576.0,,1999,4,4113-022109-98,Incorporacion A.P.H.,V

In [21]:
# Primero, eliminamos duplicados por padròn para quedarnos con el ùtimo registro en año para ese padròn.

p_sin_duplicados = Permisos_ordenado.drop_duplicates(subset=['pad','anio','mes'])

p_sin_duplicados.head(15)

,pad,destino,area,calle,puerta,letra,anio,mes,expediente,tipo_obra,cod_dep
0,2,Vivienda ...,26.00,MIGUELETE ...,1420.0,,2000,9,4113-016778-00,Obra Nueva,V
2,8,Comercio ...,5.00,LA PAZ ...,1439.0,,2019,3,2018-4113-98-001306,Regularizacion - Año,V
1,8,Comercio ...,315.00,LA PAZ ...,1439.0,,2013,7,4113-007575-13,Obra Nueva,V
3,9,Vivienda ...,14.84,LA PAZ ...,1431.0,,1998,12,4113-016126-98,Reforma,V
4,15,Vivienda ...,49.85,PIEDRA ALTA ...,1779.0,,2004,3,4113-014456-00,Modificacion en Obra,V
6,27,Comercio ...,284.00,LA PAZ ...,1461.0,,2021,9,2021-4113-98-000660,Reforma a Regularizar,V
5,27,Comercio ...,320.00,LA PAZ ...,1461.0,,2014,9,2016-4118-98-000212,Obra Nueva,V
8,32,Comercio ...,353.00,PIEDRA ALTA ...,1771.0,,2008,4,2016-4113-98-001655,Regularizacion - Año,V
9,43,"Vivienda,Comercio,Otros ...",147.00,MINAS ...,1803.0,,2022,11,2022-4113-98-001048,Incorporacion A.P.H.,V
12,52,Vivienda ...,50.00,LA PAZ ...,1577.0,,2005,2,4113-000339-05,Reforma,V
13,53,Comercio ...,388.00,LA PAZ ...,1581.0,,2019,4,2018-4113-98-001100,Reforma,V
14,63,Vivienda ...,146.21,MIGUELETE ...,1576.0,,1999,4,4113-022109-98,Incorporacion A.P.H.,V
16,67,Comercio ...,121.00,MIGUELETE ...,1552.0,,2011,8,4113-010849-11,Reforma,V
18,69,Vivienda ...,438.00,MINAS ...,1836.0,,2023,9,2023-4113-98-000574,Obra Nueva,V
17,69,"Vivienda,Otros ...",1414.00,MINAS ...,1836.0,,2022,2,2022-4113-98-000041,Obra Nueva,V

In [22]:
# Contar la cantidad de registros por año
resultado_Per_Cat = p_sin_duplicados.groupby('anio').size().reset_index(name='Cantidad')

In [24]:
# %%
# Machear los DataFrames usando un left join
cat_per = pd.merge(filtro_dep, Permisos, on=['anio','mes','pad'], how='left')

# Machear los DataFrames usando un left join
per_cat = pd.merge(p_sin_duplicados,filtro_dep, on=['anio','mes','pad'], how='left')

In [25]:
#Luego de un análisis profundo de las tablas y resultando que Catastro tiene apto y Permisos no.
#decidimos incorporar un nuevo archivo de la Intendencia de Montevideo que posee ambas bases macheadas por ellos.

#################  Catastro  e Intendencia Montevideo

# Leer el archivo CSV 
Cat_Permisos = pd.read_csv('C:/Users/vfernand/Desktop/archivos proyecto PYTHON/v_ce_permisos_construccion_geom.csv', sep=';' , encoding='cp1252')
Dic_Cat_Per = pd.read_csv('C:/Users/vfernand/Desktop/archivos proyecto PYTHON/Diccionario_v_ce_permisos_construccion_geom.csv', sep=';', encoding='latin1')

Cat_Permisos.head()

,GID,EXPEDIENTE,FECHA_INI,FECHA_APRO,MES_APRO,ANIO_APRO,PADRON,UNIDAD,DSC_TIPO_T,DSC_DESTIN,DSC_REGIME,DSC_TIPO_O,DSC_CATEGO,CONSTRUCTOR,AREA_EDIF
0,25988748,4113-016778-00,10/08/2000,06/09/2000,9,2000,2,NaN,OBRAS/CONSTRUCCIONES,Vivienda,Propiedad Horizontal,Obra Nueva,Económico o Sencillo,Desconocido,"26,00"
1,25988984,2018-4113-98-001306,19/12/2018,06/03/2019,3,2019,8,NaN,OBRAS/CONSTRUCCIONES,Comercio,Común,Regularizacion - Año,Mediano,Desconocido,"5,00"
2,25988984,4113-007575-13,03/07/2013,03/07/2013,7,2013,8,NaN,OBRAS/CONSTRUCCIONES,Comercio,Común,Obra Nueva,Mediano,Desconocido,"315,00"
3,25989011,4113-016126-98,24/08/1998,01/12/1998,12,1998,9,NaN,OBRAS/CONSTRUCCIONES,Vivienda,Común,Reforma,Mediano,Desconocido,"14,84"
4,25987893,4113-014456-00,30/06/2000,26/03/2004,3,2004,15,NaN,OBRAS/CONSTRUCCIONES,Vivienda,Propiedad Horizontal,Modificacion en Obra,Confortable,Desconocido,"49,85"

In [33]:
#Recodificar destinos
mapeo_DSC_REGIME = {
    'Común': 'Común',
    'Incorporaci??n': 'Propiedad Horizontal',
    'Propiedad Horizontal' : 'Propiedad Horizontal',
    'Desconocido': 'Sin codigo de régimen'         
}

Cat_Permisos['DSC_REGIME'] = Cat_Permisos['DSC_REGIME'].map(mapeo_DSC_REGIME)

print(Cat_Permisos['DSC_REGIME'].unique())

['Propiedad Horizontal' 'Común' 'Sin codigo de régimen']

In [26]:
# Reemplazar las comas por puntos o eliminar las comas si los números son enteros
Cat_Permisos['AREA_EDIF'] = Cat_Permisos['AREA_EDIF'].str.replace(',', '').astype(float)

# Convertir la columna a enteros
Cat_Permisos['AREA_EDIF'] = Cat_Permisos['AREA_EDIF'].astype('Int64')

Cat_Permisos = Cat_Permisos[Cat_Permisos['ANIO_APRO'] >= 1997]

Cat_Permisos = Cat_Permisos.rename(columns={'ANIO_APRO': 'anio'})

In [27]:
# Ver los tipos de datos de cada columna
tipos_datos = Cat_Permisos.dtypes
print(tipos_datos)

GID             int64
EXPEDIENTE     object
FECHA_INI      object
FECHA_APRO     object
MES_APRO        int64
anio            int64
PADRON          int64
UNIDAD         object
DSC_TIPO_T     object
DSC_DESTIN     object
DSC_REGIME     object
DSC_TIPO_O     object
DSC_CATEGO     object
CONSTRUCTOR    object
AREA_EDIF       Int64
dtype: object

In [28]:
# Contar la cantidad de registros por año
resultado_Cat_Permisos = Cat_Permisos.groupby('anio').size().reset_index(name='Cantidad')

In [29]:
#Recodificar destinos
mapeo_DSC_DESTIN = {
    'Comercio': 'Comercio',
    'Comercio, Industria, Otros': 'Varios destinos',
    'Comercio,Industria': 'Varios destinos',
    'Comercio,Otros': 'Varios destinos',
    'Industria': 'Industria',
    'Industria,Otros': 'Varios destinos',
    'Vivienda': 'Vivienda',
    'Vivienda, Industria, Otros': 'Varios destinos',
    'Vivienda,Comercio': 'Varios destinos',
    'Vivienda,Comercio,Industria': 'Varios destinos',
    'Vivienda,Comercio,Otros': 'Varios destinos',
    'Vivienda,Industria': 'Varios destinos',
    'Vivienda,Otros': 'Varios destinos',
    'Desconocido' : 'Sin destino definido',
    'Otros': 'Sin destino definido'         
}

Cat_Permisos['Nuevo_Destino'] = Cat_Permisos['DSC_DESTIN'].map(mapeo_DSC_DESTIN)

print(Cat_Permisos['Nuevo_Destino'].unique())

['Vivienda' 'Comercio' 'Varios destinos' 'Sin destino definido'
 'Industria']

In [34]:
grafico_1=Cat_Permisos.groupby(['anio','MES_APRO','DSC_REGIME']).size().reset_index(name='cantidad_registros')

print(grafico_1)

     anio  MES_APRO             DSC_REGIME  cantidad_registros
0    1997        10                  Común                   1
1    1997        10   Propiedad Horizontal                   1
2    1997        10  Sin codigo de régimen                   1
3    1997        11                  Común                  21
4    1997        11   Propiedad Horizontal                   6
..    ...       ...                    ...                 ...
843  2024         8  Sin codigo de régimen                  77
844  2024         9                  Común                   1
845  2024         9   Propiedad Horizontal                   2
846  2024         9  Sin codigo de régimen                 130
847  2024        10  Sin codigo de régimen                  31

[848 rows x 4 columns]

In [32]:
Cat_Permisos['Nuevo_Destino'] = Cat_Permisos['DSC_DESTIN'].map(mapeo_DSC_DESTIN)

print(Cat_Permisos['Nuevo_Destino'].unique())

Cat_Permisos['Cantidad'] = 1


Cat_Permisos_agrupado = Cat_Permisos.groupby(['anio', 'MES_APRO']).size().reset_index(name='Cantidad')

Cat_Permisos_agrupado

['Vivienda' 'Comercio' 'Varios destinos' 'Sin destino definido'
 'Industria']

     anio  MES_APRO  Cantidad
0    1997        10         3
1    1997        11        27
2    1997        12        71
3    1998         1        54
4    1998         2        91
..    ...       ...       ...
319  2024         6        47
320  2024         7        93
321  2024         8        83
322  2024         9       133
323  2024        10        31

[324 rows x 3 columns]