In [27]:
import pandas as pd
import numpy as np

# Definir los nombres de las columnas
Variables= ['cod_reg', 'cod_dep', 'cod_loc', 'pad', 'block', 'EP', 'uni', 'sup_predio','sup_edificada', 'V_cat_terreno',
            'V_cat_mejoras',  'V_cat_total', 'V_impuestos', 'Fecha_UDJ', 'Vigencia_UDJ']  

# Especificar los tipos de datos para las columnas
dtypes = {
    'cod_reg': str,
    'cod_dep': str,
    'cod_loc': str,  # O str, dependiendo de tus datos
    'pad': int,
    'block': str,
    'EP': str,
    'uni': int,
    'sup_predio': int,
    'sup_edificada': int,
    'V_cat_terreno': int,
    'V_cat_mejoras': int,
    'V_cat_total': int,
    'V_impuestos': int,
    'Fecha_UDJ': bool,
    'Vigencia_UDJ': bool
}

# Leer el archivo CSV y asignar los nombres a las columnas
P_Urbanos = pd.read_csv('C:/Users/macar/Desktop/python-para-ciencia-de-datos/DatosAbiertosDNC(2024-09)/Padrones Urbanos.csv', sep=',', encoding='cp1252', header=None, names=Variables, dtype={4: str, 5: str}  )

# Mostrar las primeras filas del archivo
P_Urbanos.head(8)

,cod_reg,cod_dep,cod_loc,pad,block,EP,uni,sup_predio,sup_edificada,V_cat_terreno,V_cat_mejoras,V_cat_total,V_impuestos,Fecha_UDJ,Vigencia_UDJ
0,CO,A,AA,1,NaN,NaN,0,1473,438,396202,1644448,2040650,2040650,/ /,/ /
1,CO,A,AA,2,NaN,NaN,0,246,112,149880,640149,790029,790029,/ /,/ /
2,CO,A,AA,3,NaN,NaN,0,123,99,70630,489035,559665,559665,/ /,/ /
3,CO,A,AA,4,NaN,NaN,0,234,54,132215,220728,352943,352943,/ /,/ /
4,CO,A,AA,6,NaN,NaN,0,505,75,274276,431225,705501,705501,/ /,/ /
5,CO,A,AA,10,NaN,NaN,0,462,283,303908,1339819,1643727,1643727,/ /,/ /
6,CO,A,AA,11,NaN,NaN,0,440,139,290376,584098,874474,874474,/ /,/ /
7,CO,A,AA,12,NaN,NaN,0,470,152,308792,454518,763310,763310,/ /,/ /

In [28]:
# Filtrar filas donde 'cod_dep' es igual a 'V' que es Montevideo
filtro_dep = P_Urbanos[P_Urbanos['cod_dep'] == 'V']


# Mostrar el DataFrame filtrado
filtro_dep.head()

,cod_reg,cod_dep,cod_loc,pad,block,EP,uni,sup_predio,sup_edificada,V_cat_terreno,V_cat_mejoras,V_cat_total,V_impuestos,Fecha_UDJ,Vigencia_UDJ
812667,CO,V,AA,5,NaN,NaN,0,130,138,669500,374348,1043848,1043848,/ /,/ /
812668,CO,V,AA,7,NaN,NaN,0,206,168,873257,319436,1192693,1192693,/ /,/ /
812669,CO,V,AA,8,NaN,NaN,0,175,341,596274,3670770,4267044,4267044,28/11/2018,28/11/2023
812670,CO,V,AA,9,NaN,NaN,0,171,143,583071,543110,1126181,1126181,/ /,/ /
812671,CO,V,AA,14,NaN,NaN,0,196,303,893558,325618,1219176,1219176,/ /,/ /

In [29]:

# Eliminar los apartamentos duplicados y quedarte solo con un registro por padrón
filtro_dep = filtro_dep.drop_duplicates(subset='pad').reset_index(drop=True)

# Mostrar el DataFrame filtrado
filtro_dep.head()

,cod_reg,cod_dep,cod_loc,pad,block,EP,uni,sup_predio,sup_edificada,V_cat_terreno,V_cat_mejoras,V_cat_total,V_impuestos,Fecha_UDJ,Vigencia_UDJ
0,CO,V,AA,5,NaN,NaN,0,130,138,669500,374348,1043848,1043848,/ /,/ /
1,CO,V,AA,7,NaN,NaN,0,206,168,873257,319436,1192693,1192693,/ /,/ /
2,CO,V,AA,8,NaN,NaN,0,175,341,596274,3670770,4267044,4267044,28/11/2018,28/11/2023
3,CO,V,AA,9,NaN,NaN,0,171,143,583071,543110,1126181,1126181,/ /,/ /
4,CO,V,AA,14,NaN,NaN,0,196,303,893558,325618,1219176,1219176,/ /,/ /

In [30]:
#cantidad de filas y columnas del archivo
filtro_dep.shape

(200177, 15)

In [31]:
#CUantas filas tiene el archivo
num_filas = filtro_dep.shape[0]

print(num_filas)

200177

In [32]:
# Reemplazar cadenas vacías o '/  /' por NaN
filtro_dep['Fecha_UDJ'] = filtro_dep['Fecha_UDJ'].replace(['', '/  /'], pd.NA)

# Separar la columna 'Fecha' en tres nuevas columnas, manejando valores NaN
filtro_dep[['dia', 'mes', 'anio']] = filtro_dep['Fecha_UDJ'].str.split('/', expand=True)

# Convertir las nuevas columnas a tipo entero, usando fillna para evitar errores
filtro_dep['dia'] = filtro_dep['dia'].astype('Int64')  # 'Int64' permite valores NA
filtro_dep['mes'] = filtro_dep['mes'].astype('Int64')
filtro_dep['anio'] = filtro_dep['anio'].astype('Int64')

# Mostrar el DataFrame resultante
filtro_dep.head()

,cod_reg,cod_dep,cod_loc,pad,block,EP,uni,sup_predio,sup_edificada,V_cat_terreno,V_cat_mejoras,V_cat_total,V_impuestos,Fecha_UDJ,Vigencia_UDJ,dia,mes,anio
0,CO,V,AA,5,NaN,NaN,0,130,138,669500,374348,1043848,1043848,<NA>,/ /,<NA>,<NA>,<NA>
1,CO,V,AA,7,NaN,NaN,0,206,168,873257,319436,1192693,1192693,<NA>,/ /,<NA>,<NA>,<NA>
2,CO,V,AA,8,NaN,NaN,0,175,341,596274,3670770,4267044,4267044,28/11/2018,28/11/2023,28,11,2018
3,CO,V,AA,9,NaN,NaN,0,171,143,583071,543110,1126181,1126181,<NA>,/ /,<NA>,<NA>,<NA>
4,CO,V,AA,14,NaN,NaN,0,196,303,893558,325618,1219176,1219176,<NA>,/ /,<NA>,<NA>,<NA>

In [33]:
# Ver los tipos de datos de cada columna
tipos_datos = filtro_dep.dtypes

# Mostrar los tipos de datos
print(tipos_datos)

cod_reg          object
cod_dep          object
cod_loc          object
pad               int64
block            object
EP               object
uni               int64
sup_predio        int64
sup_edificada     int64
V_cat_terreno     int64
V_cat_mejoras     int64
V_cat_total       int64
V_impuestos       int64
Fecha_UDJ        object
Vigencia_UDJ     object
dia               Int64
mes               Int64
anio              Int64
dtype: object

In [34]:
# Contar la cantidad de registros por año
conteo_por_anio = filtro_dep.groupby('anio').size().reset_index(name='cantidad_registros')

print(conteo_por_anio)

    anio  cantidad_registros
0    203                   1
1    403                   1
2    603                   1
3   1997                   1
4   2001                   5
5   2002                 279
6   2003                 862
7   2004                1680
8   2005                1416
9   2006                1457
10  2007                1780
11  2008                2319
12  2009                2081
13  2010                2644
14  2011                3130
15  2012                2484
16  2013                2786
17  2014                2606
18  2015                2578
19  2016                2615
20  2017                3189
21  2018                2834
22  2019                2915
23  2020                2695
24  2021                3260
25  2022                6510
26  2023                6699
27  2024                4456

In [35]:
#Permisos Intendencia Montevideo
# Leer el archivo CSV y asignar los nombres a las columnas
Permisos = pd.read_csv('C:/Users/macar/Desktop/python-para-ciencia-de-datos/permisos_construccion.csv', sep=';')

Permisos.rename(columns={'padron': 'pad'}, inplace=True)
# Mostrar las primeras filas del archivo
Permisos.head()

,pad,destino,area,calle,puerta,letra,anio,mes,expediente,tipo_obra
0,2,Vivienda ...,26.00,MIGUELETE ...,1420.0,,2000,9,4113-016778-00,Obra Nueva
1,8,Comercio ...,315.00,LA PAZ ...,1439.0,,2013,7,4113-007575-13,Obra Nueva
2,8,Comercio ...,5.00,LA PAZ ...,1439.0,,2019,3,2018-4113-98-001306,Regularizacion - Año
3,9,Vivienda ...,14.84,LA PAZ ...,1431.0,,1998,12,4113-016126-98,Reforma
4,15,Vivienda ...,49.85,PIEDRA ALTA ...,1779.0,,2004,3,4113-014456-00,Modificacion en Obra

In [36]:
# Ver los tipos de datos de cada columna
tipos_datos = Permisos.dtypes

# Mostrar los tipos de datos
print(tipos_datos)

pad             int64
destino        object
area          float64
calle          object
puerta        float64
letra          object
anio            int64
mes             int64
expediente     object
tipo_obra      object
dtype: object

In [37]:
#Crear en permisos la variable cod_dep
Permisos['cod_dep'] = 'V'
Permisos.head()

,pad,destino,area,calle,puerta,letra,anio,mes,expediente,tipo_obra,cod_dep
0,2,Vivienda ...,26.00,MIGUELETE ...,1420.0,,2000,9,4113-016778-00,Obra Nueva,V
1,8,Comercio ...,315.00,LA PAZ ...,1439.0,,2013,7,4113-007575-13,Obra Nueva,V
2,8,Comercio ...,5.00,LA PAZ ...,1439.0,,2019,3,2018-4113-98-001306,Regularizacion - Año,V
3,9,Vivienda ...,14.84,LA PAZ ...,1431.0,,1998,12,4113-016126-98,Reforma,V
4,15,Vivienda ...,49.85,PIEDRA ALTA ...,1779.0,,2004,3,4113-014456-00,Modificacion en Obra,V

In [38]:
# Supongamos que 'resultado' es tu DataFrame que contiene los conteos        ### ESto lo eliminaría, no aporta nada
# Calcular la suma total de 'conteo_destino'
conteo_pad = Permisos['pad'].count()

# Mostrar la suma total
print(f"Suma total de conteo_pad: {conteo_pad}")

Suma total de conteo_pad: 39511

In [39]:
#CUantas filas tiene el archivo                                             ### también lo eliminaría
num_filas = Permisos.shape[0]

print(Permisos)

          pad                                            destino    area  \
0           2  Vivienda                                      ...   26.00
1           8  Comercio                                      ...  315.00
2           8  Comercio                                      ...    5.00
3           9  Vivienda                                      ...   14.84
4          15  Vivienda                                      ...   49.85
...       ...                                                ...     ...
39506  436935  Vivienda                                      ...   46.40
39507  436935  Vivienda                                      ...   54.70
39508  952223  Vivienda                                      ...    8.76
39509  952223  Vivienda                                      ...    5.24
39510  952223  Vivienda                                      ...  215.00

                                                   calle  puerta  letra  anio  \
0      MIGUELETE                                     ...  1420.0         2000
1      LA PAZ                                        ...  1439.0         2013
2      LA PAZ                                        ...  1439.0         2019
3      LA PAZ                                        ...  1431.0         1998
4      PIEDRA ALTA                                   ...  1779.0         2004
...                                                  ...     ...    ...   ...
39506                                                ...     NaN         1999
39507                                                ...     NaN         1999
39508                                                ...     NaN         2011
39509                                                ...     NaN         2011
39510                                                ...     NaN         2011

       mes           expediente             tipo_obra cod_dep
0        9       4113-016778-00            Obra Nueva       V
1        7       4113-007575-13            Obra Nueva       V
2        3  2018-4113-98-001306  Regularizacion - Año       V
3       12       4113-016126-98               Reforma       V
4        3       4113-014456-00  Modificacion en Obra       V
...    ...                  ...                   ...     ...
39506    3       4113-022067-98           Desconocido       V
39507    3       4113-022067-98  Regularizacion - Año       V
39508    2       4113-000547-11            Obra Nueva       V
39509    2       4113-000547-11               Reforma       V
39510    2       4113-000547-11  Regularizacion - Año       V

[39511 rows x 11 columns]

In [40]:
### VEr el shape directamente para saber cantidad de filas y columnas
Permisos.shape

(39511, 11)

In [41]:
# Ordenar el DataFrame por Padron (ascendente), anio, mes, area en orden descendente me quedo con el ùltimo permiso aprobado para ese padron y el area màs grande de esa fecha.
Permisos_ordenado = Permisos.sort_values(by=['pad','anio', 'mes', 'area'], ascending=[True,False, False, False])

# Mostrar el DataFrame ordenado
Permisos_ordenado.head(15)

,pad,destino,area,calle,puerta,letra,anio,mes,expediente,tipo_obra,cod_dep
0,2,Vivienda ...,26.00,MIGUELETE ...,1420.0,,2000,9,4113-016778-00,Obra Nueva,V
2,8,Comercio ...,5.00,LA PAZ ...,1439.0,,2019,3,2018-4113-98-001306,Regularizacion - Año,V
1,8,Comercio ...,315.00,LA PAZ ...,1439.0,,2013,7,4113-007575-13,Obra Nueva,V
3,9,Vivienda ...,14.84,LA PAZ ...,1431.0,,1998,12,4113-016126-98,Reforma,V
4,15,Vivienda ...,49.85,PIEDRA ALTA ...,1779.0,,2004,3,4113-014456-00,Modificacion en Obra,V
6,27,Comercio ...,284.00,LA PAZ ...,1461.0,,2021,9,2021-4113-98-000660,Reforma a Regularizar,V
5,27,Comercio ...,320.00,LA PAZ ...,1461.0,,2014,9,2016-4118-98-000212,Obra Nueva,V
8,32,Comercio ...,353.00,PIEDRA ALTA ...,1771.0,,2008,4,2016-4113-98-001655,Regularizacion - Año,V
7,32,Comercio ...,36.00,PIEDRA ALTA ...,1771.0,,2008,4,2016-4113-98-001655,Obra Nueva,V
9,43,"Vivienda,Comercio,Otros ...",147.00,MINAS ...,1803.0,,2022,11,2022-4113-98-001048,Incorporacion A.P.H.,V
10,43,"Vivienda,Comercio,Otros ...",59.00,MINAS ...,1803.0,,2022,11,2022-4113-98-001048,Reforma,V
11,43,"Vivienda,Comercio,Otros ...",33.00,MINAS ...,1803.0,,2022,11,2022-4113-98-001048,Reforma a Regularizar,V
12,52,Vivienda ...,50.00,LA PAZ ...,1577.0,,2005,2,4113-000339-05,Reforma,V
13,53,Comercio ...,388.00,LA PAZ ...,1581.0,,2019,4,2018-4113-98-001100,Reforma,V
14,63,Vivienda ...,146.21,MIGUELETE ...,1576.0,,1999,4,4113-022109-98,Incorporacion A.P.H.,V

In [42]:
# Primero, eliminamos duplicados por padròn para quedarnos con el ùtimo registro en año para ese padròn.

p_sin_duplicados = Permisos_ordenado.drop_duplicates(subset=['pad','anio','mes'])

p_sin_duplicados.head(15)

,pad,destino,area,calle,puerta,letra,anio,mes,expediente,tipo_obra,cod_dep
0,2,Vivienda ...,26.00,MIGUELETE ...,1420.0,,2000,9,4113-016778-00,Obra Nueva,V
2,8,Comercio ...,5.00,LA PAZ ...,1439.0,,2019,3,2018-4113-98-001306,Regularizacion - Año,V
1,8,Comercio ...,315.00,LA PAZ ...,1439.0,,2013,7,4113-007575-13,Obra Nueva,V
3,9,Vivienda ...,14.84,LA PAZ ...,1431.0,,1998,12,4113-016126-98,Reforma,V
4,15,Vivienda ...,49.85,PIEDRA ALTA ...,1779.0,,2004,3,4113-014456-00,Modificacion en Obra,V
6,27,Comercio ...,284.00,LA PAZ ...,1461.0,,2021,9,2021-4113-98-000660,Reforma a Regularizar,V
5,27,Comercio ...,320.00,LA PAZ ...,1461.0,,2014,9,2016-4118-98-000212,Obra Nueva,V
8,32,Comercio ...,353.00,PIEDRA ALTA ...,1771.0,,2008,4,2016-4113-98-001655,Regularizacion - Año,V
9,43,"Vivienda,Comercio,Otros ...",147.00,MINAS ...,1803.0,,2022,11,2022-4113-98-001048,Incorporacion A.P.H.,V
12,52,Vivienda ...,50.00,LA PAZ ...,1577.0,,2005,2,4113-000339-05,Reforma,V
13,53,Comercio ...,388.00,LA PAZ ...,1581.0,,2019,4,2018-4113-98-001100,Reforma,V
14,63,Vivienda ...,146.21,MIGUELETE ...,1576.0,,1999,4,4113-022109-98,Incorporacion A.P.H.,V
16,67,Comercio ...,121.00,MIGUELETE ...,1552.0,,2011,8,4113-010849-11,Reforma,V
18,69,Vivienda ...,438.00,MINAS ...,1836.0,,2023,9,2023-4113-98-000574,Obra Nueva,V
17,69,"Vivienda,Otros ...",1414.00,MINAS ...,1836.0,,2022,2,2022-4113-98-000041,Obra Nueva,V

In [43]:
# Contar cuántos registros hay por 'anio' y 'mes'
resultado = p_sin_duplicados.groupby(['anio', 'mes']).size().reset_index(name ='conteo_destino')


# Mostrar el resultado
print(resultado)

     anio  mes  conteo_destino
0    1997   11               1
1    1997   12              18
2    1998    1              23
3    1998    2              47
4    1998    3              42
..    ...  ...             ...
316  2024    4              61
317  2024    5              44
318  2024    6              25
319  2024    7              42
320  2024    8              47

[321 rows x 3 columns]

In [44]:
# Contar la cantidad de registros por año
p_conteo_por_anio = p_sin_duplicados.groupby('anio').size().reset_index(name='cantidad_registros')

print(p_conteo_por_anio)

    anio  cantidad_registros
0   1997                  19
1   1998                1044
2   1999                1237
3   2000                1088
4   2001                 655
5   2002                 688
6   2003                 986
7   2004                1115
8   2005                1358
9   2006                1224
10  2007                1309
11  2008                1430
12  2009                1340
13  2010                1330
14  2011                1249
15  2012                1156
16  2013                1071
17  2014                1169
18  2015                1003
19  2016                 662
20  2017                 963
21  2018                 794
22  2019                 798
23  2020                 559
24  2021                 706
25  2022                 784
26  2023                 626
27  2024                 316

In [45]:
# Supongamos que 'resultado' es tu DataFrame que contiene los conteos
# Calcular la suma total de 'conteo_destino'
suma_conteo_destino = resultado['conteo_destino'].sum()

# Mostrar la suma total
print(f"Suma total de conteo_destino: {suma_conteo_destino}")

Suma total de conteo_destino: 26679

In [46]:
# Machear los DataFrames usando un left join
cat_per = pd.merge(filtro_dep, Permisos, on=['anio','mes','pad'], how='left')

# Machear los DataFrames usando un left join
per_cat = pd.merge(p_sin_duplicados,filtro_dep, on=['anio','mes','pad'], how='left')

In [47]:
#Mostrar el primer Dataframe resultante
cat_per.head()

,cod_reg,cod_dep_x,cod_loc,pad,block,EP,uni,sup_predio,sup_edificada,V_cat_terreno,...,mes,anio,destino,area,calle,puerta,letra,expediente,tipo_obra,cod_dep_y
0,CO,V,AA,5,NaN,NaN,0,130,138,669500,...,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CO,V,AA,7,NaN,NaN,0,206,168,873257,...,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,CO,V,AA,8,NaN,NaN,0,175,341,596274,...,11,2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,CO,V,AA,9,NaN,NaN,0,171,143,583071,...,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,CO,V,AA,14,NaN,NaN,0,196,303,893558,...,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
#Mostrar cantidad de filas y columnas del primer Dataframe resultante
cat_per.shape

(200882, 26)

In [49]:
#Mosstrar el segundo Dataframe resultante
per_cat.head()

,pad,destino,area,calle,puerta,letra,anio,mes,expediente,tipo_obra,...,uni,sup_predio,sup_edificada,V_cat_terreno,V_cat_mejoras,V_cat_total,V_impuestos,Fecha_UDJ,Vigencia_UDJ,dia
0,2,Vivienda ...,26.00,MIGUELETE ...,1420.0,,2000,9,4113-016778-00,Obra Nueva,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>
1,8,Comercio ...,5.00,LA PAZ ...,1439.0,,2019,3,2018-4113-98-001306,Regularizacion - Año,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>
2,8,Comercio ...,315.00,LA PAZ ...,1439.0,,2013,7,4113-007575-13,Obra Nueva,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>
3,9,Vivienda ...,14.84,LA PAZ ...,1431.0,,1998,12,4113-016126-98,Reforma,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>
4,15,Vivienda ...,49.85,PIEDRA ALTA ...,1779.0,,2004,3,4113-014456-00,Modificacion en Obra,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>

In [50]:
per_cat.shape

(26679, 26)

In [51]:
# Guardar el DataFrame macheado como CSV de catastro
cat_per.to_csv('C:/Users/vfernand/Desktop/archivos proyecto PYTHON/cat_per.csv', index=False)

OSError: Cannot save file into a non-existent directory: 'C:\Users\vfernand\Desktop\archivos proyecto PYTHON'

In [32]:
# Guardar el DataFrame macheado como CSV de permisos
per_cat.to_csv('C:/Users/vfernand/Desktop/archivos proyecto PYTHON/per_cat.csv', index=False)

In [33]:
conteo_codreg = per_cat.groupby('cod_reg').size().reset_index(name='cantidad_expedientes')

conteo_codreg

  cod_reg  cantidad_expedientes
0      CO                  1071
1      PH                    77