In [1]:
import pandas as pd
import numpy as np

# Definir los nombres de las columnas
Variables= ['cod_reg', 'cod_dep', 'cod_loc', 'pad', 'block', 'EP', 'uni', 'sup_predio','sup_edificada', 'V_cat_terreno',
            'V_cat_mejoras',  'V_cat_total', 'V_impuestos', 'Fecha_UDJ', 'Vigencia_UDJ']  

# Especificar los tipos de datos para las columnas
dtypes = {
    'cod_reg': str,
    'cod_dep': str,
    'cod_loc': str,  # O str, dependiendo de tus datos
    'pad': int,
    'block': str,
    'EP': str,
    'uni': int,
    'sup_predio': int,
    'sup_edificada': int,
    'V_cat_terreno': int,
    'V_cat_mejoras': int,
    'V_cat_total': int,
    'V_impuestos': int,
    'Fecha_UDJ': bool,
    'Vigencia_UDJ': bool
}

# Leer el archivo CSV y asignar los nombres a las columnas
P_Urbanos = pd.read_csv('C:/Users/vfernand/Desktop/archivos proyecto PYTHON/DatosAbiertosDNC(2024-09)/Padrones Urbanos.csv', sep=',', encoding='cp1252', header=None, names=Variables)

# Mostrar las primeras filas del archivo
P_Urbanos

C:\Users\vfernand\AppData\Local\Temp\ipykernel_10284\3827222910.py:28: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  P_Urbanos = pd.read_csv('C:/Users/vfernand/Desktop/archivos proyecto PYTHON/DatosAbiertosDNC(2024-09)/Padrones Urbanos.csv', sep=',', encoding='cp1252', header=None, names=Variables)

,cod_reg,cod_dep,cod_loc,pad,block,EP,uni,sup_predio,sup_edificada,V_cat_terreno,V_cat_mejoras,V_cat_total,V_impuestos,Fecha_UDJ,Vigencia_UDJ
0,CO,A,AA,1,NaN,NaN,0,1473,438,396202,1644448,2040650,2040650,/ /,/ /
1,CO,A,AA,2,NaN,NaN,0,246,112,149880,640149,790029,790029,/ /,/ /
2,CO,A,AA,3,NaN,NaN,0,123,99,70630,489035,559665,559665,/ /,/ /
3,CO,A,AA,4,NaN,NaN,0,234,54,132215,220728,352943,352943,/ /,/ /
4,CO,A,AA,6,NaN,NaN,0,505,75,274276,431225,705501,705501,/ /,/ /
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1485857,UH,R,AX,321,B,NaN,19,2000,0,0,0,29666,29666,20/07/2020,20/07/2030
1485858,UH,R,AX,321,B,NaN,20,2000,0,0,0,29666,29666,20/07/2020,20/07/2030
1485859,UH,R,AX,321,B,NaN,21,2500,0,0,0,37084,37084,20/07/2020,20/07/2030
1485860,UH,R,AX,321,C,NaN,22,10003,0,0,0,148378,148378,20/07/2020,20/07/2030
1485861,UH,R,AX,321,C,NaN,23,35138,812,0,0,7147969,7147969,20/07/2020,20/07/2030

In [2]:
# Filtrar filas donde 'cod_dep' es igual a 'V' que es Montevideo
filtro_dep = P_Urbanos[P_Urbanos['cod_dep'] == 'V']


# Mostrar el DataFrame filtrado
filtro_dep

,cod_reg,cod_dep,cod_loc,pad,block,EP,uni,sup_predio,sup_edificada,V_cat_terreno,V_cat_mejoras,V_cat_total,V_impuestos,Fecha_UDJ,Vigencia_UDJ
812667,CO,V,AA,5,NaN,NaN,0,130,138,669500,374348,1043848,1043848,/ /,/ /
812668,CO,V,AA,7,NaN,NaN,0,206,168,873257,319436,1192693,1192693,/ /,/ /
812669,CO,V,AA,8,NaN,NaN,0,175,341,596274,3670770,4267044,4267044,28/11/2018,28/11/2023
812670,CO,V,AA,9,NaN,NaN,0,171,143,583071,543110,1126181,1126181,/ /,/ /
812671,CO,V,AA,14,NaN,NaN,0,196,303,893558,325618,1219176,1219176,/ /,/ /
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1476244,PH,V,AA,432301,NaN,NaN,405,738,34,0,0,1838035,1838035,15/05/2024,15/05/2034
1476245,PH,V,AA,432301,NaN,NaN,406,738,35,0,0,1828063,1828063,15/05/2024,15/05/2034
1476246,PH,V,AA,432301,NaN,NaN,407,738,33,0,0,1768117,1768117,15/05/2024,15/05/2034
1476247,PH,V,AA,432301,NaN,NaN,408,738,33,0,0,1768117,1768117,15/05/2024,15/05/2034
1476248,PH,V,AA,432301,NaN,NaN,409,738,35,0,0,1828063,1828063,15/05/2024,15/05/2034

In [3]:

# Eliminar los apartamentos duplicados y quedarte solo con un registro por padrÃ³n
filtro_dep = filtro_dep.drop_duplicates(subset='pad').reset_index(drop=True)

# Mostrar el DataFrame filtrado
filtro_dep

,cod_reg,cod_dep,cod_loc,pad,block,EP,uni,sup_predio,sup_edificada,V_cat_terreno,V_cat_mejoras,V_cat_total,V_impuestos,Fecha_UDJ,Vigencia_UDJ
0,CO,V,AA,5,NaN,NaN,0,130,138,669500,374348,1043848,1043848,/ /,/ /
1,CO,V,AA,7,NaN,NaN,0,206,168,873257,319436,1192693,1192693,/ /,/ /
2,CO,V,AA,8,NaN,NaN,0,175,341,596274,3670770,4267044,4267044,28/11/2018,28/11/2023
3,CO,V,AA,9,NaN,NaN,0,171,143,583071,543110,1126181,1126181,/ /,/ /
4,CO,V,AA,14,NaN,NaN,0,196,303,893558,325618,1219176,1219176,/ /,/ /
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200172,PH,V,AA,431161,NaN,NaN,1,250,198,0,0,5285812,5285812,31/08/2020,31/08/2030
200173,PH,V,AA,431176,NaN,NaN,1,449,238,0,0,2676252,2676252,31/03/2023,31/03/2033
200174,PH,V,AA,431282,NaN,NaN,1,444,114,0,0,1502554,1502554,16/03/2021,16/03/2031
200175,PH,V,AA,431862,NaN,NaN,1,1148,32,0,0,401260,401260,17/10/2022,17/10/2032
200176,PH,V,AA,431900,NaN,NaN,1,478,245,0,0,2494332,2494332,12/03/2023,12/03/2033

In [4]:
#CUantas filas tiene el archivo
num_filas = filtro_dep.shape[0]

print(num_filas)

200177

In [5]:
# Reemplazar cadenas vacÃ­as o '/  /' por NaN
filtro_dep['Fecha_UDJ'] = filtro_dep['Fecha_UDJ'].replace(['', '/  /'], pd.NA)

# Separar la columna 'Fecha' en tres nuevas columnas, manejando valores NaN
filtro_dep[['dia', 'mes', 'anio']] = filtro_dep['Fecha_UDJ'].str.split('/', expand=True)

# Convertir las nuevas columnas a tipo entero, usando fillna para evitar errores
filtro_dep['dia'] = filtro_dep['dia'].astype('Int64')  # 'Int64' permite valores NA
filtro_dep['mes'] = filtro_dep['mes'].astype('Int64')
filtro_dep['anio'] = filtro_dep['anio'].astype('Int64')

# Mostrar el DataFrame resultante
filtro_dep

,cod_reg,cod_dep,cod_loc,pad,block,EP,uni,sup_predio,sup_edificada,V_cat_terreno,V_cat_mejoras,V_cat_total,V_impuestos,Fecha_UDJ,Vigencia_UDJ,dia,mes,anio
0,CO,V,AA,5,NaN,NaN,0,130,138,669500,374348,1043848,1043848,<NA>,/ /,<NA>,<NA>,<NA>
1,CO,V,AA,7,NaN,NaN,0,206,168,873257,319436,1192693,1192693,<NA>,/ /,<NA>,<NA>,<NA>
2,CO,V,AA,8,NaN,NaN,0,175,341,596274,3670770,4267044,4267044,28/11/2018,28/11/2023,28,11,2018
3,CO,V,AA,9,NaN,NaN,0,171,143,583071,543110,1126181,1126181,<NA>,/ /,<NA>,<NA>,<NA>
4,CO,V,AA,14,NaN,NaN,0,196,303,893558,325618,1219176,1219176,<NA>,/ /,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200172,PH,V,AA,431161,NaN,NaN,1,250,198,0,0,5285812,5285812,31/08/2020,31/08/2030,31,8,2020
200173,PH,V,AA,431176,NaN,NaN,1,449,238,0,0,2676252,2676252,31/03/2023,31/03/2033,31,3,2023
200174,PH,V,AA,431282,NaN,NaN,1,444,114,0,0,1502554,1502554,16/03/2021,16/03/2031,16,3,2021
200175,PH,V,AA,431862,NaN,NaN,1,1148,32,0,0,401260,401260,17/10/2022,17/10/2032,17,10,2022
200176,PH,V,AA,431900,NaN,NaN,1,478,245,0,0,2494332,2494332,12/03/2023,12/03/2033,12,3,2023

In [6]:
# Ver los tipos de datos de cada columna
tipos_datos = filtro_dep.dtypes

# Mostrar los tipos de datos
print(tipos_datos)

cod_reg          object
cod_dep          object
cod_loc          object
pad               int64
block            object
EP               object
uni               int64
sup_predio        int64
sup_edificada     int64
V_cat_terreno     int64
V_cat_mejoras     int64
V_cat_total       int64
V_impuestos       int64
Fecha_UDJ        object
Vigencia_UDJ     object
dia               Int64
mes               Int64
anio              Int64
dtype: object

In [7]:
# Contar la cantidad de registros por aÃ±o
conteo_por_anio = filtro_dep.groupby('anio').size().reset_index(name='cantidad_registros')

print(conteo_por_anio)

    anio  cantidad_registros
0    203                   1
1    403                   1
2    603                   1
3   1997                   1
4   2001                   5
5   2002                 279
6   2003                 862
7   2004                1680
8   2005                1416
9   2006                1457
10  2007                1780
11  2008                2319
12  2009                2081
13  2010                2644
14  2011                3130
15  2012                2484
16  2013                2786
17  2014                2606
18  2015                2578
19  2016                2615
20  2017                3189
21  2018                2834
22  2019                2915
23  2020                2695
24  2021                3260
25  2022                6510
26  2023                6699
27  2024                4456

In [8]:
#Permisos Intendencia Montevideo
# Leer el archivo CSV y asignar los nombres a las columnas
Permisos = pd.read_csv('C:/Users/vfernand/Desktop/archivos proyecto PYTHON/permisos_construccion.csv', sep=';')

Permisos.rename(columns={'padron': 'pad'}, inplace=True)
# Mostrar las primeras filas del archivo
Permisos

,pad,destino,area,calle,puerta,letra,anio,mes,expediente,tipo_obra
0,2,Vivienda ...,26.00,MIGUELETE ...,1420.0,,2000,9,4113-016778-00,Obra Nueva
1,8,Comercio ...,315.00,LA PAZ ...,1439.0,,2013,7,4113-007575-13,Obra Nueva
2,8,Comercio ...,5.00,LA PAZ ...,1439.0,,2019,3,2018-4113-98-001306,Regularizacion - AÃ±o
3,9,Vivienda ...,14.84,LA PAZ ...,1431.0,,1998,12,4113-016126-98,Reforma
4,15,Vivienda ...,49.85,PIEDRA ALTA ...,1779.0,,2004,3,4113-014456-00,Modificacion en Obra
...,...,...,...,...,...,...,...,...,...,...
39423,436935,Vivienda ...,46.40,...,NaN,,1999,3,4113-022067-98,Desconocido
39424,436935,Vivienda ...,54.70,...,NaN,,1999,3,4113-022067-98,Regularizacion - AÃ±o
39425,952223,Vivienda ...,8.76,...,NaN,,2011,2,4113-000547-11,Obra Nueva
39426,952223,Vivienda ...,5.24,...,NaN,,2011,2,4113-000547-11,Reforma
39427,952223,Vivienda ...,215.00,...,NaN,,2011,2,4113-000547-11,Regularizacion - AÃ±o

In [9]:
# Ver los tipos de datos de cada columna
tipos_datos = Permisos.dtypes

# Mostrar los tipos de datos
print(tipos_datos)

pad             int64
destino        object
area          float64
calle          object
puerta        float64
letra          object
anio            int64
mes             int64
expediente     object
tipo_obra      object
dtype: object

In [10]:
#Crear en permisos la variable cod_dep
Permisos['cod_dep'] = 'V'
Permisos

,pad,destino,area,calle,puerta,letra,anio,mes,expediente,tipo_obra,cod_dep
0,2,Vivienda ...,26.00,MIGUELETE ...,1420.0,,2000,9,4113-016778-00,Obra Nueva,V
1,8,Comercio ...,315.00,LA PAZ ...,1439.0,,2013,7,4113-007575-13,Obra Nueva,V
2,8,Comercio ...,5.00,LA PAZ ...,1439.0,,2019,3,2018-4113-98-001306,Regularizacion - AÃ±o,V
3,9,Vivienda ...,14.84,LA PAZ ...,1431.0,,1998,12,4113-016126-98,Reforma,V
4,15,Vivienda ...,49.85,PIEDRA ALTA ...,1779.0,,2004,3,4113-014456-00,Modificacion en Obra,V
...,...,...,...,...,...,...,...,...,...,...,...
39423,436935,Vivienda ...,46.40,...,NaN,,1999,3,4113-022067-98,Desconocido,V
39424,436935,Vivienda ...,54.70,...,NaN,,1999,3,4113-022067-98,Regularizacion - AÃ±o,V
39425,952223,Vivienda ...,8.76,...,NaN,,2011,2,4113-000547-11,Obra Nueva,V
39426,952223,Vivienda ...,5.24,...,NaN,,2011,2,4113-000547-11,Reforma,V
39427,952223,Vivienda ...,215.00,...,NaN,,2011,2,4113-000547-11,Regularizacion - AÃ±o,V

In [11]:
# Supongamos que 'resultado' es tu DataFrame que contiene los conteos
# Calcular la suma total de 'conteo_destino'
conteo_pad = Permisos['pad'].count()

# Mostrar la suma total
print(f"Suma total de conteo_pad: {conteo_pad}")

Suma total de conteo_pad: 39428

In [12]:
#CUantas filas tiene el archivo
num_filas = Permisos.shape[0]

print(Permisos)

          pad                                            destino    area  \
0           2  Vivienda                                      ...   26.00
1           8  Comercio                                      ...  315.00
2           8  Comercio                                      ...    5.00
3           9  Vivienda                                      ...   14.84
4          15  Vivienda                                      ...   49.85
...       ...                                                ...     ...
39423  436935  Vivienda                                      ...   46.40
39424  436935  Vivienda                                      ...   54.70
39425  952223  Vivienda                                      ...    8.76
39426  952223  Vivienda                                      ...    5.24
39427  952223  Vivienda                                      ...  215.00

                                                   calle  puerta  letra  anio  \
0      MIGUELETE                                     ...  1420.0         2000
1      LA PAZ                                        ...  1439.0         2013
2      LA PAZ                                        ...  1439.0         2019
3      LA PAZ                                        ...  1431.0         1998
4      PIEDRA ALTA                                   ...  1779.0         2004
...                                                  ...     ...    ...   ...
39423                                                ...     NaN         1999
39424                                                ...     NaN         1999
39425                                                ...     NaN         2011
39426                                                ...     NaN         2011
39427                                                ...     NaN         2011

       mes           expediente             tipo_obra cod_dep
0        9       4113-016778-00            Obra Nueva       V
1        7       4113-007575-13            Obra Nueva       V
2        3  2018-4113-98-001306  Regularizacion - AÃ±o       V
3       12       4113-016126-98               Reforma       V
4        3       4113-014456-00  Modificacion en Obra       V
...    ...                  ...                   ...     ...
39423    3       4113-022067-98           Desconocido       V
39424    3       4113-022067-98  Regularizacion - AÃ±o       V
39425    2       4113-000547-11            Obra Nueva       V
39426    2       4113-000547-11               Reforma       V
39427    2       4113-000547-11  Regularizacion - AÃ±o       V

[39428 rows x 11 columns]

In [13]:
# Ordenar el DataFrame por Padron (ascendente), anio, mes, area en orden descendente me quedo con el Ã¹ltimo permiso aprobado para ese padron y el area mÃ s grande de esa fecha.
Permisos_ordenado = Permisos.sort_values(by=['pad','anio', 'mes', 'area'], ascending=[True,False, False, False])

# Mostrar el DataFrame ordenado
print(Permisos_ordenado)

          pad                                            destino    area  \
0           2  Vivienda                                      ...   26.00
2           8  Comercio                                      ...    5.00
1           8  Comercio                                      ...  315.00
3           9  Vivienda                                      ...   14.84
4          15  Vivienda                                      ...   49.85
...       ...                                                ...     ...
39423  436935  Vivienda                                      ...   46.40
39422  436935  Vivienda                                      ...   11.10
39427  952223  Vivienda                                      ...  215.00
39425  952223  Vivienda                                      ...    8.76
39426  952223  Vivienda                                      ...    5.24

                                                   calle  puerta  letra  anio  \
0      MIGUELETE                                     ...  1420.0         2000
2      LA PAZ                                        ...  1439.0         2019
1      LA PAZ                                        ...  1439.0         2013
3      LA PAZ                                        ...  1431.0         1998
4      PIEDRA ALTA                                   ...  1779.0         2004
...                                                  ...     ...    ...   ...
39423                                                ...     NaN         1999
39422                                                ...     NaN         1999
39427                                                ...     NaN         2011
39425                                                ...     NaN         2011
39426                                                ...     NaN         2011

       mes           expediente             tipo_obra cod_dep
0        9       4113-016778-00            Obra Nueva       V
2        3  2018-4113-98-001306  Regularizacion - AÃ±o       V
1        7       4113-007575-13            Obra Nueva       V
3       12       4113-016126-98               Reforma       V
4        3       4113-014456-00  Modificacion en Obra       V
...    ...                  ...                   ...     ...
39423    3       4113-022067-98           Desconocido       V
39422    3       4113-022067-98            Demolicion       V
39427    2       4113-000547-11  Regularizacion - AÃ±o       V
39425    2       4113-000547-11            Obra Nueva       V
39426    2       4113-000547-11               Reforma       V

[39428 rows x 11 columns]

In [14]:
# Primero, eliminamos duplicados por padrÃ²n para quedarnos con el Ã¹timo registro en aÃ±o para ese padrÃ²n.

p_sin_duplicados = Permisos_ordenado.drop_duplicates(subset=['pad'])

print(p_sin_duplicados)

          pad                                            destino     area  \
0           2  Vivienda                                      ...    26.00
2           8  Comercio                                      ...     5.00
3           9  Vivienda                                      ...    14.84
4          15  Vivienda                                      ...    49.85
6          27  Comercio                                      ...   284.00
...       ...                                                ...      ...
39416  432177  Desconocido                                   ...  2832.00
39419  432190  Desconocido                                   ...  1728.00
39421  432207  Desconocido                                   ...  1172.30
39424  436935  Vivienda                                      ...    54.70
39427  952223  Vivienda                                      ...   215.00

                                                   calle  puerta  letra  anio  \
0      MIGUELETE                                     ...  1420.0         2000
2      LA PAZ                                        ...  1439.0         2019
3      LA PAZ                                        ...  1431.0         1998
4      PIEDRA ALTA                                   ...  1779.0         2004
6      LA PAZ                                        ...  1461.0         2021
...                                                  ...     ...    ...   ...
39416  PLACIDO ELLAURI                               ...  3270.0         2024
39419  CNEL FEDERICO BRANDSEN                        ...  2026.0         2024
39421  CESAR CORTINAS                                ...  1913.0         2024
39424                                                ...     NaN         1999
39427                                                ...     NaN         2011

       mes           expediente                tipo_obra cod_dep
0        9       4113-016778-00               Obra Nueva       V
2        3  2018-4113-98-001306     Regularizacion - AÃ±o       V
3       12       4113-016126-98                  Reforma       V
4        3       4113-014456-00     Modificacion en Obra       V
6        9  2021-4113-98-000660    Reforma a Regularizar       V
...    ...                  ...                      ...     ...
39416    5       GERPC-7-820714       IncorporaciÃ³n a PH       V
39419    5       GERPC-7-779506  Obra nueva / ampliaciÃ³n       V
39421    5       GERPC-7-792051  Obra nueva / ampliaciÃ³n       V
39424    3       4113-022067-98     Regularizacion - AÃ±o       V
39427    2       4113-000547-11     Regularizacion - AÃ±o       V

[21706 rows x 11 columns]

In [15]:
# Contar cuÃ¡ntos registros hay por 'anio' y 'mes'
resultado = p_sin_duplicados.groupby(['anio', 'mes']).size().reset_index(name ='conteo_destino')


# Mostrar el resultado
print(resultado)

     anio  mes  conteo_destino
0    1997   11               1
1    1997   12              17
2    1998    1              17
3    1998    2              38
4    1998    3              37
..    ...  ...             ...
315  2024    3              44
316  2024    4              61
317  2024    5              44
318  2024    6              25
319  2024    7              42

[320 rows x 3 columns]

In [16]:
# Contar la cantidad de registros por aÃ±o
p_conteo_por_anio = p_sin_duplicados.groupby('anio').size().reset_index(name='cantidad_registros')

print(p_conteo_por_anio)

    anio  cantidad_registros
0   1997                  18
1   1998                 845
2   1999                1052
3   2000                 898
4   2001                 551
5   2002                 522
6   2003                 712
7   2004                 783
8   2005                 975
9   2006                 903
10  2007                 977
11  2008                1101
12  2009                1068
13  2010                1030
14  2011                1002
15  2012                 938
16  2013                 886
17  2014                 974
18  2015                 844
19  2016                 566
20  2017                 809
21  2018                 713
22  2019                 721
23  2020                 510
24  2021                 659
25  2022                 764
26  2023                 616
27  2024                 269

In [17]:
# Supongamos que 'resultado' es tu DataFrame que contiene los conteos
# Calcular la suma total de 'conteo_destino'
suma_conteo_destino = resultado['conteo_destino'].sum()

# Mostrar la suma total
print(f"Suma total de conteo_destino: {suma_conteo_destino}")

Suma total de conteo_destino: 21706

In [18]:
# Machear los DataFrames usando un left join
cat_per = pd.merge(filtro_dep, Permisos, on=['anio','mes','pad'], how='left')

# Machear los DataFrames usando un left join
per_cat = pd.merge(p_sin_duplicados,filtro_dep, on=['anio','mes','pad'], how='left')


# Mostrar el DataFrame resultante
print(cat_per)

print(per_cat)

       cod_reg cod_dep_x cod_loc     pad block   EP  uni  sup_predio  \
0           CO         V      AA       5   NaN  NaN    0         130
1           CO         V      AA       7   NaN  NaN    0         206
2           CO         V      AA       8   NaN  NaN    0         175
3           CO         V      AA       9   NaN  NaN    0         171
4           CO         V      AA      14   NaN  NaN    0         196
...        ...       ...     ...     ...   ...  ...  ...         ...
200877      PH         V      AA  431161   NaN  NaN    1         250
200878      PH         V      AA  431176   NaN  NaN    1         449
200879      PH         V      AA  431282   NaN  NaN    1         444
200880      PH         V      AA  431862   NaN  NaN    1        1148
200881      PH         V      AA  431900   NaN  NaN    1         478

        sup_edificada  V_cat_terreno  ...   mes  anio  destino area calle  \
0                 138         669500  ...  <NA>  <NA>      NaN  NaN   NaN
1                 168         873257  ...  <NA>  <NA>      NaN  NaN   NaN
2                 341         596274  ...    11  2018      NaN  NaN   NaN
3                 143         583071  ...  <NA>  <NA>      NaN  NaN   NaN
4                 303         893558  ...  <NA>  <NA>      NaN  NaN   NaN
...               ...            ...  ...   ...   ...      ...  ...   ...
200877            198              0  ...     8  2020      NaN  NaN   NaN
200878            238              0  ...     3  2023      NaN  NaN   NaN
200879            114              0  ...     3  2021      NaN  NaN   NaN
200880             32              0  ...    10  2022      NaN  NaN   NaN
200881            245              0  ...     3  2023      NaN  NaN   NaN

        puerta  letra  expediente tipo_obra  cod_dep_y
0          NaN    NaN         NaN       NaN        NaN
1          NaN    NaN         NaN       NaN        NaN
2          NaN    NaN         NaN       NaN        NaN
3          NaN    NaN         NaN       NaN        NaN
4          NaN    NaN         NaN       NaN        NaN
...        ...    ...         ...       ...        ...
200877     NaN    NaN         NaN       NaN        NaN
200878     NaN    NaN         NaN       NaN        NaN
200879     NaN    NaN         NaN       NaN        NaN
200880     NaN    NaN         NaN       NaN        NaN
200881     NaN    NaN         NaN       NaN        NaN

[200882 rows x 26 columns]
          pad                                            destino     area  \
0           2  Vivienda                                      ...    26.00
1           8  Comercio                                      ...     5.00
2           9  Vivienda                                      ...    14.84
3          15  Vivienda                                      ...    49.85
4          27  Comercio                                      ...   284.00
...       ...                                                ...      ...
21701  432177  Desconocido                                   ...  2832.00
21702  432190  Desconocido                                   ...  1728.00
21703  432207  Desconocido                                   ...  1172.30
21704  436935  Vivienda                                      ...    54.70
21705  952223  Vivienda                                      ...   215.00

                                                   calle  puerta  letra  anio  \
0      MIGUELETE                                     ...  1420.0         2000
1      LA PAZ                                        ...  1439.0         2019
2      LA PAZ                                        ...  1431.0         1998
3      PIEDRA ALTA                                   ...  1779.0         2004
4      LA PAZ                                        ...  1461.0         2021
...                                                  ...     ...    ...   ...
21701  PLACIDO ELLAURI                               ...  3270.0         2024
21702  CNEL FEDERICO BRANDSEN                        ...  2026.0         2024
21703  CESAR CORTINAS                                ...  1913.0         2024
21704                                                ...     NaN         1999
21705                                                ...     NaN         2011

       mes           expediente                tipo_obra  ... uni sup_predio  \
0        9       4113-016778-00               Obra Nueva  ... NaN        NaN
1        3  2018-4113-98-001306     Regularizacion - AÃ±o  ... NaN        NaN
2       12       4113-016126-98                  Reforma  ... NaN        NaN
3        3       4113-014456-00     Modificacion en Obra  ... NaN        NaN
4        9  2021-4113-98-000660    Reforma a Regularizar  ... NaN        NaN
...    ...                  ...                      ...  ...  ..        ...
21701    5       GERPC-7-820714       IncorporaciÃ³n a PH  ... NaN        NaN
21702    5       GERPC-7-779506  Obra nueva / ampliaciÃ³n  ... NaN        NaN
21703    5       GERPC-7-792051  Obra nueva / ampliaciÃ³n  ... NaN        NaN
21704    3       4113-022067-98     Regularizacion - AÃ±o  ... NaN        NaN
21705    2       4113-000547-11     Regularizacion - AÃ±o  ... NaN        NaN

      sup_edificada V_cat_terreno V_cat_mejoras V_cat_total  V_impuestos  \
0               NaN           NaN           NaN         NaN          NaN
1               NaN           NaN           NaN         NaN          NaN
2               NaN           NaN           NaN         NaN          NaN
3               NaN           NaN           NaN         NaN          NaN
4               NaN           NaN           NaN         NaN          NaN
...             ...           ...           ...         ...          ...
21701           NaN           NaN           NaN         NaN          NaN
21702           NaN           NaN           NaN         NaN          NaN
21703           NaN           NaN           NaN         NaN          NaN
21704           NaN           NaN           NaN         NaN          NaN
21705           NaN           NaN           NaN         NaN          NaN

       Fecha_UDJ  Vigencia_UDJ   dia
0            NaN           NaN  <NA>
1            NaN           NaN  <NA>
2            NaN           NaN  <NA>
3            NaN           NaN  <NA>
4            NaN           NaN  <NA>
...          ...           ...   ...
21701        NaN           NaN  <NA>
21702        NaN           NaN  <NA>
21703        NaN           NaN  <NA>
21704        NaN           NaN  <NA>
21705        NaN           NaN  <NA>

[21706 rows x 26 columns]

In [19]:
# Guardar el DataFrame macheado como CSV de catastro
cat_per.to_csv('C:/Users/vfernand/Desktop/archivos proyecto PYTHON/cat_per.csv', index=False)

In [20]:
# Guardar el DataFrame macheado como CSV de permisos
per_cat.to_csv('C:/Users/vfernand/Desktop/archivos proyecto PYTHON/per_cat.csv', index=False)

In [21]:
conteo_codreg = per_cat.groupby('cod_reg').size().reset_index(name='cantidad_expedientes')

conteo_codreg

  cod_reg  cantidad_expedientes
0      CO                  1039
1      PH                    70